@charset "utf-8";
/* CSS Document */
body {
	position: relative;
	-ms-overflow-style: scrollbar;
	}

a:focus {
	outline: 0;
	text-decoration: none;
	}

/* Icons */
.icon:before {
	background-image: url(../i/icons.png);
	background-repeat: no-repeat;
	content: '';
	display: block;
	}

/******
	Login
******/
/* Header */
.login header {
	background-color: rgba(2,48,127,1);
	height: 100px;
	padding-top: 34px;
	}

	.login header .logo-header {
		background-image: url(../i/logo-header-login.png);
		display: block;
		height: 35px;
		margin-left: 47px;
		text-indent: -9999px;
		width: 119px;
		}

/* Main Container */
.login .main-container {
	padding: 148px 0;
	}

.login .form {
	background-color: rgba(255,255,255,1);
	box-shadow: rgba(97,107,123,.15) 0 0 4px;
	border-radius: 4px;
	margin: 0 auto;
	padding: 0 0 53px 0;
	width: 515px;
	}

.login .form h1 {
	background-color: rgba(2,48,127,1);
	border-bottom: #7891bb solid 1px;
	border-radius: 4px 4px 0 0;
	color: #ffffff;
	font-size: 29px;
	line-height: 65px;
	margin: 0;
	text-align: center;
	}

.login .form form {
	padding-top: 72px;
	position: relative;
	}

/* Error Information */
.login .error-info {
	color: #de4040;
	font-size: 15px;
	line-height: 58px;
	min-height: 58px;
	position: absolute;
	top: 205px;
	width: calc(100% - 155px);
	left: 155px;
	}

.login .form-group {
	margin-bottom: 11px;
	padding: 0 61px 0 154px;
	position: relative;
	}

	.login .form-group label {
		color: #333333;
		font-size: 19px;
		font-weight: normal;
		line-height: 49px;
		margin-bottom: 0;
		position: absolute;
		left: 53px;
		}

	.login .form-group .form-control {
		border-color: #ddd;
		box-shadow: none;
		height: 49px;
		}

	.login .form-group .form-control.error {
		border-color: #de4040;
		}

/* Block */
.login .block {
	margin: 0 61px 11px 154px;
	position: relative;
	}

	.login .checkbox {
		margin-bottom: 45px;
		}

	.login .checkbox label {
		padding-left: 27px;
		}

	.login .block > a {
		color: #458ed8;
		font-size: 16px;
		position: absolute;
		top: 0;
		right: 0;
		}

/* Button */
.login .btn {
	font-size: 22px;
	line-height: 40px;
	margin: 0 61px 0 0;
	width: auto;
	}

/* Block for register */
.login .block-register {
	margin: 17px 61px 0 154px;
	text-align: center;
	}

	.login .block-register > a {
		color: #458ed8;
		font-size: 16px;
		}

/* Footer */
.login footer {
margin: 0;
padding: 29px 0;
position: fixed;
bottom: 0;
text-align: center;
width: 100%;
z-index: 10;
}

/****
Custom Checkbox
****/
label.checkbox {
color: #868687;
cursor: pointer;
font-size: 16px;
line-height: 19px;
position: relative;
vertical-align: top;
}

label.checkbox > input[type="checkbox"] {
display: none;
}

label.checkbox > input[type="checkbox"] + span {
background-image: url(../i/icons.png);
display: block;
height: 19px;
position: absolute;
left: 0;
width: 19px;
}

label.checkbox > input[type="checkbox"]:checked + span {
background-position: 0 -30px;
}

/****
Custom Radio
****/
label.radio {
color: #777777;
cursor: pointer;
font-size: 17px;
line-height: 19px;
font-weight: normal;
padding-left: 25px;
position: relative;
vertical-align: top;
}

label.radio > input[type="radio"] {
display: none;
}

label.radio > input[type="radio"] + span {
background-image: url(../i/icons.png);
background-position: -70px -250px;
display: block;
height: 19px;
position: absolute;
left: 0;
width: 19px;
}

label.radio > input[type="radio"]:checked + span {
background-position: -70px -270px;
}

/****
Custom Dropdown
****/
.custom-dropdown {
cursor: pointer;
position: relative;
}

.custom-dropdown:before {
background-image: url(../i/icons.png);
background-position: -160px -30px;
content: '';
margin-top: -4.5px;
display: block;
height: 9px;
position: absolute;
top: 50%;
right: 15px;
width: 20px;
}

.custom-dropdown > span {
	display: block;
	line-height: 35px;
	}

.content-credit-form .custom-dropdown > span {
	line-height: 27px;
	}

/* Options */
.custom-dropdown > .dropdown {
	background-color: rgba(255,255,255,1);
	border: #dddddd solid 1px;
	display: none;
	max-height: 200px;
	overflow: auto;
	padding-left: 0;
	position: absolute;
	top: 47px;
	left: -1px;
	right: -1px;
	}

.content-credit-form .custom-dropdown > .dropdown {
	top: 40px;
	}

.custom-dropdown.active > .dropdown {
	display: block;
	}

	.custom-dropdown > .dropdown li {
		border-bottom: #dddddd solid 1px;
		cursor: pointer;
		list-style: none;
		padding: 0 16px;
		}

	.custom-dropdown > .dropdown li:hover {
		background-color: rgba(69,142,216,.6);
		}

	.custom-dropdown > .dropdown li:last-child {
		border-bottom-width: 0;
		}

	.custom-dropdown > .dropdown li > a {
		color: #8e8e8e;
		display: block;
		font-size: 17px;
		line-height: 39px;
		text-decoration: none;
		}

	.custom-dropdown > .dropdown li:hover > a {
		color: #fff;
		}

/********
Logged Page
********/
header .header-banner {
background-color: rgba(255,255,255,1);
height: 70px;
padding: 18px 45px 0 41px;
position: relative;
}

header .header-banner .logo-header {
	background-image: url(../i/logo-header-common.png);
	display: block;
	height: 35px;
	text-indent: -9999px;
	width: 119px;
	}

/* Meta */
header .header-banner .meta {
	position: absolute;
	top: 26px;
	right: 45px;
	}

	/* Icons */
	header .header-banner .icon {
		color: #b2b2b2;
		float: left;
		font-size: 15px;
		line-height: 21px;
		position: relative;
		}

	header .header-banner .icon-alerts {
		height: 21px;
		width: 21px;
		}

	header .header-banner .icon-alerts:before {
		background-position: -30px 0;
		height: 21px;
		width: 21px;
		}

	header .header-banner .icon-alerts > .badge {
		background-color: rgba(70,198,40,1);
		border-radius: 50%;
		display: block;
		height: 17px;
		line-height: 17px;
		padding: 0 5px;
		position: absolute;
		top: -6px;
		left: 9px;
		}

	header .header-banner .icon-chat {
		margin-left: 29px;
		padding-left: 28px;
		}

	header .header-banner .icon-chat:before {
		background-position: -60px 0;
		height: 19px;
		position: absolute;
		top: 1px;
		left: 0;
		width: 21px;
		}

	header .header-banner .icon-personalise {
		margin-left: 28px;
		padding-left: 26px;
		}

	header .header-banner .icon-personalise:before {
		background-position: -90px 0;
		height: 20px;
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		}

	header .header-banner .icon-logout {
		margin-left: 23px;
		padding-left: 18px;
		}

	header .header-banner .icon-logout:before {
		background-position: -120px 0;
		height: 17px;
		position: absolute;
		top: 3px;
		left: 0;
		width: 13px;
		}

	/* Hover state */
	header .header-banner .icon:hover {
		opacity: .8;
		text-decoration: none;
		}

header nav {
background-color: rgba(2,48,127,1);
position: relative;
z-index: 10;
width: 100%;
}

header nav > ul {
	margin-bottom: 0;
	padding: 0 0 0 23px;
	}

header nav > ul > li {
	list-style: none;
	padding: 4px 7px 0 7px;
	}

header nav > ul > li > a {
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 56px;
	position: relative;
	text-decoration: none;
	}

header nav > ul > li > a:focus {
	color: #fff;
	}

header nav > ul > li > a:hover {
	color: #fff;
	text-decoration: none;
	}

header nav > ul > li > a.active:after,
header nav > ul > li > a:hover:after {
	background-color: rgba(70,198,40,1);
	content: '';
	display: block;
	height: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	}

header nav > ul > li > a.active:hover {
	opacity: 1;
	}

/* Secondary Menu */
header nav > ul ul {
	background-color: rgba(1,21,56,1);
	box-shadow: rgba(0,0,0,.31) 0 4px 5px;
	padding: 0 0 0 22px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	}

header nav > ul ul > li {
	float: left;
	padding: 17px 0 20px 0;
	list-style: none;
	}

/* Icon */
header nav > ul ul > li a.icon {
	color: #fff;
	display: block;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	text-decoration: none;
	}

header nav > ul ul > li a.icon:hover {
	opacity: .8;
	}

header nav > ul ul > li a.icon:before {
	position: absolute;
	left: 0;
	}

header nav > ul ul > li a.icon-import-credit {
	margin-right: 27px;
	padding-left: 40px;
	width: 123px;
	}

header nav > ul ul > li a.icon-import-credit:before {
	background-position: 0 -60px;
	height: 29px;
	top: 5px;
	width: 31px;
	}

header nav > ul ul > li a.icon-export-credit {
	margin-right: 21px;
	padding-left: 38px;
	width: 123px;
	}

header nav > ul ul > li a.icon-export-credit:before {
	background-position: -40px -60px;
	height: 29px;
	top: 5px;
	width: 32px;
	}

header nav > ul ul > li a.icon-guarantees {
	line-height: 36px;
	margin-right: 28px;
	padding-left: 48px;
	width: 123px;
	}

header nav > ul ul > li a.icon-guarantees:before {
	background-position: -80px -60px;
	height: 28px;
	top: 6px;
	width: 42px;
	}

header nav > ul ul > li a.icon-import-collection {
	margin-right: 12px;
	padding-left: 40px;
	width: 123px;
	}

header nav > ul ul > li a.icon-import-collection:before {
	background-position: -130px -60px;
	height: 24px;
	top: 7px;
	width: 33px;
	}

header nav > ul ul > li a.icon-direct-collection {
	margin-right: 13px;
	padding-left: 36px;
	width: 123px;
	}

header nav > ul ul > li a.icon-direct-collection:before {
	background-position: -170px -60px;
	height: 24px;
	top: 7px;
	width: 33px;
	}

header nav > ul ul > li a.icon-export-collection {
	margin-right: 2px;
	padding-left: 37px;
	width: 123px;
	}

header nav > ul ul > li a.icon-export-collection:before {
	background-position: -0 -100px;
	height: 24px;
	top: 7px;
	width: 31px;
	}

header nav > ul ul > li a.icon-invoice-financing {
	margin-right: 2px;
	padding-left: 32px;
	width: 123px;
	}

header nav > ul ul > li a.icon-invoice-financing:before {
	background-position: -40px -100px;
	height: 29px;
	top: 5px;
	width: 23px;
	}

header nav > ul ul > li a.icon-supply-financing {
	margin-right: 20px;
	padding-left: 28px;
	width: 123px;
	}

header nav > ul ul > li a.icon-supply-financing:before {
	background-position: -80px -100px;
	height: 21px;
	top: 9px;
	width: 24px;
	}

header nav > ul ul > li a.icon-shipment-financing {
	padding-left: 38px;
	width: 123px;
	}

header nav > ul ul > li a.icon-shipment-financing:before {
	background-position: -120px -100px;
	height: 17px;
	top: 11px;
	width: 30px;
	}

/* Notification */
.notification {
background-color: rgba(255,255,255,1);
box-shadow: rgba(0,0,0,.14) 0 0 16px;
border-radius: 4px;
padding: 6px 0;
position: absolute;
top: 60px;
right: 188px;
width: 342px;
z-index: 11;
}

.notification:before {
background-image: url(../i/icons.png);
background-position: -140px 0;
content: '';
display: block;
height: 7px;
margin: -13px 0 0 -10px;
position: absolute;
left: 50%;
width: 20px;
}

.notification > li {
	border-bottom: #f0f0f0 solid 1px;
	list-style: none;
	}

.notification > li:last-child {
	border-bottom-width: 0;
	}

.notification > li > p {
	float: left;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 12px 24px 11px 52px;
	position: relative;
	width: 264px;
	}

.notification > li > p a {
	color: #3c83cb;
	}

.notification > li > .btn {
	margin-top: 12px;
	width: 62px;
	}

/* Icon */
.notification > li > p.icon:before {
	position: absolute;
	top: 50%;
	left: 13px;
	}

.notification > li > p.icon-notification:before {
	background-position: 0 -140px;
	height: 27px;
	margin-top: -13.5px;
	width: 31px;
	}

.notification > li > p.icon-email:before {
	background-position: -40px -140px;
	height: 19px;
	margin-top: -9.5px;
	width: 29px;
	}

/* Footer */
footer {
background-color: rgba(243,245,249,1);
padding: 4px 35px 22px 35px;
position: relative;
text-align: center;
}

footer .logo-footer {
	background-image: url(../i/logo-footer.png);
	display: inline-block;
	height: 22px;
	margin: 2px 0 2px 6px;
	text-indent: -9999px;
	width: 76px;
	}

footer p {
	color: #767676;
	display: inline-block;
	font-size: 13px;
	line-height: 22px;
	margin: 2px 8px;
	}

footer .icon-back-top {
	display: inline-block;
	font-size: 13px;
	line-height: 26px;
	padding-right: 32px;
	position: relative;
	z-index: 1;
	text-decoration: none;
	}

footer .icon-back-top:before {
	background-position: -170px 0;
	height: 26px;
	position: absolute;
	right: 0;
	width: 26px;
	}

/* Main Container */
.main-container {
padding: 0 35px;
position: relative;
z-index: 1;
}

.main-container.dashboard {
padding-top: 30px;
}

/* Panel */
.panel {
box-shadow: rgba(97,107,123,.15) 0 0 4px;
border-width: 0;
margin-bottom: 17px;
position: relative;
z-index: 1;
}

/* Panel Heading */
.panel-heading {
	background-color: rgba(248,249,251,1);
	border-width: 0;
	position: relative;
	}

	.panel-heading h3 {
		color: #6b6b6b;
		font-size: 13px;
		margin: 0;
		/*margin: 0 0 0 24px;*/
		line-height: 20px;
		text-transform: uppercase;
		}

	.panel-heading h3 > span {
		text-transform: none;
		}

	.panel-heading .link {
		font-size: 14px;
		position: absolute;
		top: 18px;
		right: 44px;
		}

	.panel-heading .icon-expand {
		position: absolute;
		top: 12px;
		right: 13px;
		}

	.panel-heading .icon-expand:hover {
		opacity: .8;
		}

	.panel-heading .icon-expand:before {
		background-position: -30px -30px;
		height: 16px;
		width: 16px;
		}

/* Panel Body */
.panel-body {
	overflow: hidden;
	}

/* Placeholder */
img.placeholder {
display: block;
margin: 0 auto;
}

/* Summary Account Information */
.panel-summary-account-information ul {
/*padding: 16px 25px 20px 25px;*/
}

.panel-summary-account-information li {
/*float: left;*/
list-style: none;
/*padding: 22px 0;
width: 50%;*/
}

/* Block */
.panel-summary-account-information .block {
	position: relative;
	}

	.panel-summary-account-information .block > span {
		font-size: 17.23px;
		position: absolute;
		top: 2px;
		left: 16px;
		}

	.panel-summary-account-information .block > div {
		margin-left: 59px;
		padding-left: 13px;
		position: relative;
		}

	.panel-summary-account-information .block > div:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 4px;
		}

	.panel-summary-account-information .block > div > p {
		color: #757575;
		font-size: 17.23px;
		margin-bottom: 0;
		padding-right: 0;
		white-space: nowrap;
		}

	.panel-summary-account-information .block > div > strong {
		color: #2c77c3;
		display: block;
		font-size: 25.84px;
		line-height: 30px;
		}

	/* Colorful */
	.panel-summary-account-information .block.current-accounts > span {
		color: #e23434;
		}

	.panel-summary-account-information .block.current-accounts > div:before {
		background-color: rgba(238,60,60,1);
		}

	.panel-summary-account-information .block.deposits > span {
		color: #0e78bb;
		}

	.panel-summary-account-information .block.deposits > div:before {
		background-color: rgba(14,120,187,1);
		}

	.panel-summary-account-information .block.overdraft-accounts > span {
		color: #28bbb9;
		}

	.panel-summary-account-information .block.overdraft-accounts > div:before {
		background-color: rgba(53,204,202,1);
		}

	.panel-summary-account-information .block.loan-positions > span {
		color: #43b528;
		}

	.panel-summary-account-information .block.loan-positions > div:before {
		background-color: rgba(90,213,61,1);
		}

	.panel-summary-account-information .block.trade-accounts > span {
		color: #f09826;
		}

	.panel-summary-account-information .block.trade-accounts > div:before {
		background-color: rgba(255,171,61,1);
		}

/* Recommended Actions */
.panel-recommended-actions .panel-body {
overflow: auto;
padding: 15px 0 0 0;
}

.panel-recommended-actions .block {
padding: 0 24px;
}

.panel-recommended-actions .block ul {
	margin-bottom: 0;
	padding: 8px 0;
  /*padding-top: 15px;*/
  /*padding-left: 0;*/
  /*padding-bottom: 20px;*/
  /*border-bottom: 1px solid rgba(107, 107, 107, 0.3);*/
	}

.panel-recommended-actions .block li {
	list-style: none;
	/*padding: 0 7px 0;*/
	}

.container-fluid .panel-recommended-actions .block p {
	font-size: 13px;
	/*padding: 0 12px 0;*/
	margin-bottom: 0;
	color: #6b6b6b;
	}

/* Tasks */
.panel-tasks .panel-body {
overflow: visible;
}

.panel-tasks .scrollbar {
min-width: 300px;
overflow: auto;
}

.panel-tasks .table {
margin-bottom: 0;
width: 900px;
}

.panel-tasks .table th {
	background-color: rgba(34,65,118,1);
	border-bottom-width: 0;
	height: 53px;
	padding: 0 13px;
	vertical-align: middle;
	}

	.panel-tasks .table th > a {
		color: #fff;
		font-size: 14px;
		line-height: 18px;
		padding-right: 12px;
		position: relative;
		text-decoration: none;
		}

	.panel-tasks .table th > a.icon:before {
		background-position: -60px -30px;
		height: 11px;
		margin-top: -5.5px;
		position: absolute;
		top: 50%;
		right: 0;
		width: 8px;
		}

	.panel-tasks .table th > a.icon-desc:before {
		background-position: -80px -26px;
		}

	.panel-tasks .table th > a.icon-asc:before {
		background-position: -70px -28px;
		}

	.panel-tasks .table th:nth-child(2) {
		width: 11.58%;
		}

	.panel-tasks .table th:nth-child(3) {
		width: 12.14%;
		}

	.panel-tasks .table th:nth-child(4) {
		width: 30.85%;
		}

.panel-tasks .table td {
	color: #555;
	line-height: 18px;
	padding: 15px 13px;
	}

	/* Badge */
	.panel-tasks .table td .badge {
		padding: 6px 0;
		width: 76px;
		}

	.panel-tasks .table td .badge.open {
		background-color: rgba(69,142,216,1);
		}

	.panel-tasks .table td .badge.pending {
		background-color: rgba(255,171,61,1);
		}

	.panel-tasks .table td .badge.approved {
		background-color: rgba(70,198,40,1);
		}

	.panel-tasks .table td .badge.rejected {
		background-color: rgba(238,60,60,1);
		}

/* Rates */
.panel-rates .table {
margin-top: 15px;
margin-bottom: 16px;
}

.panel-rates .table th {
	border-bottom-width: 0;
	color: #6b6b6b;
	height: 28px;
	padding: 0 16px;
	vertical-align: middle;
	}

.panel-rates .table th:nth-child(2) {
	width: 70px;
	}

.panel-rates .table th:nth-child(3) {
	width: 29px;
	}

.panel-rates .table td {
	border-width: 0;
	color: #6b6b6b;
	height: 33px;
	padding: 0 16px;
	vertical-align: middle;
	}

	.panel-rates .table td > span {
		color: #02307f;
		}

/* Latest News */
.panel-latest-news .banner {
display: block;
margin-bottom: 6px;
width: 100%;
}

/* Media */
.panel-latest-news .media {
	border-bottom: #eaeaea solid 1px;
	margin: 0 12px;
	padding: 16px 0 6px 0;
	}

.panel-latest-news .media:last-child {
	border-bottom-width: 0;
	}

	.panel-latest-news .media .date {
		color: #6b6b6b;
		font-size: 15px;
		line-height: 14px;
		padding: 1px 2px 0 2px;
		text-transform: uppercase;
		}

	.panel-latest-news .media .date > strong {
		display: block;
		font-size: 29px;
		font-weight: normal;
		line-height: 28px;
		}

	.panel-latest-news .media-body > a {
		color: #2c77c3;
		display: inline-block;
		line-height: 18px;
		}

	.panel-latest-news .media-body > p {
		color: #6b6b6b;
		line-height: 18px;
		padding-top: 2px;
		}

/********
Trade
******/
/* Breadcrumb */
.breadcrumb {
margin-bottom: 0;
padding: 10px 6px;
}

.breadcrumb li + li {
	margin-left: 10px;
	padding-left: 15px;
	position: relative;
	}

.breadcrumb li,
.breadcrumb li a {
	color: #3c83cb;
	font-size: 13px;
	}

.breadcrumb > .active {
	color: #666;
	}

.breadcrumb > li + li:before {
	background-image: url(../i/icons.png);
	background-position: -100px -30px;
	content: '';
	display: block;
	height: 10px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 5px;
	}

h2 {
font-size: 33px;
font-weight: bold;
margin-top: 16px;
margin-bottom: 18px;
}

/* Container */
.main-container.trade {
padding-top: 0;
padding-bottom: 60px;
}

.main-container.trade .title-row {
	position: relative;
	width: 100%;
	}
	.main-container.trade .title-row .row.btn-row {
		margin-left: 0;
		margin-right: -6px;
		padding: 0;
		}

		.main-container.trade .title-row .row.btn-row .col-lg-2 {
			width: 18%;
			margin-right: 2.5%;
			}
		.main-container.trade .title-row .row.btn-row .col-lg-2:nth-child(5) {
			margin-right: 0;
			}

.main-container.trade .btn-default {
	border-color: #458ed8;
	color: #458ed8;
	font-size: 16px;
	height: 42px;
	line-height: 28px;
	margin-top: 3px;
	margin-bottom: 25px;
	min-width: 220px;
	}

.main-container.trade .btn-primary {
	border-width: 0;
	font-size: 16px;
	height: 42px;
	line-height: 30px;
	margin-top: 3px;
	margin-bottom: 25px;
	position: relative;
	z-index: 1;
	min-width: 220px;
	}

.main-container.trade .btn-primary > span.icon {
	display: inline-block;
	padding-left: 46px;
	position: relative;
	}

.main-container.trade .btn-primary > span.icon-upload:before {
	background-position: -160px -100px;
	height: 23px;
	margin-top: -11.5px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 35px;
	}


/********
Letter of Credit
******/
.panel-tasks .table.table-trade-tasks th {
padding: 0 13px;
}

.panel-tasks .table.table-trade-tasks td {
height: 94px;
padding: 36px 13px 20px 13px;
}

.panel-tasks .table.table-trade-tasks th:nth-child(2) {
width: auto;
}

.panel-tasks .table.table-trade-tasks th:nth-child(3) {
width: 15.58%
}

.panel-tasks .table.table-trade-tasks th:nth-child(4) {
width: auto;
}

.panel-tasks .table.table-trade-tasks td a.icon {
	display: block;
	height: 30px;
	margin: 0 auto;
	position: relative;
	top: -6px;
	width: 27px;
	}

.panel-tasks .table.table-trade-tasks td a.icon-pdf:before {
	background-position: -80px -140px;
	height: 30px;
	width: 27px;
	}

/********
New Letter of Credit
********/
.main-container .well {
background-color: rgba(255,255,255,1);
box-shadow: rgba(97,107,123,.15) 0 0 4px;
padding: 24px;
}

/* Nav */
.main-container .nav > li > a {
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(242,242,242,1));
	/* Safari 4-5, Chrome 1-9 */
	/* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
	background-image: -webkit-gradient(linear,top,from(rgba(255,255,255,1)),to(rgba(242,242,242,1)));
	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(242,242,242,1));
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(242,242,242,1));
	/* IE 10,11 */
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(242,242,242,1));
	border-top: #d3d3d3 solid 1px;
	border-bottom: #d3d3d3 solid 1px;
	color: #2c2c2c;
	cursor: default;
	font-size: 16px;
	padding: 12px 10px 12px 34px;
	position: relative;
	text-align: left;
	white-space: nowrap;
	}

.main-container .nav > li:first-child > a {
	border-left: #d3d3d3 solid 1px;
	border-radius: 5px 0 0 5px;
	padding-left: 20px;
	}

.main-container .nav > li:last-child > a {
	border-right: #d3d3d3 solid 1px;
	border-radius: 0 5px 5px 0;
	}

	.main-container .nav > li > a:before {
		/*background-image: url(../i/icons.png);
		background-position: -120px -140px;
		content: '';
		display: block;
		height: 46px;
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;*/
		}

	.main-container .nav > li:first-child > a:before {
		background-image: none;
		}

/* Active */
.main-container .nav > li.active > a {
	background-image: none;
	background-color: rgba(70,198,40,1);
	border-width: 0;
	padding-top: 13px;
	padding-bottom: 13px;
	color: #fff;
	}

.main-container .nav > li.active + li > a:before {
	background-position: -150px -140px;
	top: 1px;
	}

/* Finished */
.main-container .nav > li.finished > a {
	color: #fff;
	cursor: pointer;
	border-width: 0;
	padding-top: 13px;
	padding-bottom: 13px;
	}

.main-container .nav > li.finished + li > a:before {
	top: 1px;
	}

.main-container .nav > li.finished:first-child > a {
	background-image: none;
	background-color: rgba(34,65,118,1);
	}

.main-container .nav > li.finished:first-child + li > a:before {
	background-position: 0 -190px;
	}

.main-container .nav > li.finished:nth-child(2) > a {
	background-image: none;
	background-color: rgba(43,76,131,1);
	}

.main-container .nav > li.finished:nth-child(2) + li > a:before {
	background-position: -30px -190px;
	}

.main-container .nav > li.finished:nth-child(3) > a {
	background-image: none;
	background-color: rgba(56,88,143,1);
	}

.main-container .nav > li.finished:nth-child(3) + li > a:before {
	background-position: -60px -190px;
	}

.main-container .nav > li.finished:nth-child(4) > a {
	background-image: none;
	background-color: rgba(71,104,161,1);
	}

.main-container .nav > li.finished:nth-child(4) + li > a:before {
	background-position: -90px -190px;
	}

/* Hover */
.main-container .nav > li > a:hover {
	color: #2c2c2c;
	}

.main-container .nav > li.active > a:hover,
.main-container .nav > li.finished > a:hover {
	color: #fff;
	}

/* Content for Amount */
.content-amount > p {
	color: #333333;
	font-size: 19px;
	padding: 82px 0 57px 0;
	text-align: center;
	}

.content-amount .form-group {
	margin: 0 auto;
	margin-bottom: 11px;
	position: relative;
	width: 314px;
	}

.content-amount .form-group.last {
	margin-bottom: 51px;
	}

	.content-amount .form-group label {
		color: #333333;
		font-size: 19px;
		font-weight: normal;
		line-height: 49px;
		margin-bottom: 0;
		padding-top: 0;
		padding-left: 6px;
		position: absolute;
		}

	.content-amount .form-group .input-group {
		display: block;
		margin-left: 98px;
		}

	.content-amount .form-group .form-control {
		border-color: #dddddd;
		box-shadow: none;
		border-radius: 4px;
		color: #8e8e8e;
		display: block;
		float: none;
		font-size: 17px;
		padding: 6px 16px;
		height: 49px;
		}

/* Content for Source Account */
.content-source-account > p {
	color: #333333;
	font-size: 19px;
	margin: 57px 20px 33px 20px;
	}

	/* Guarantee */
	.content-source-account .section-guarantee {
		padding: 0 3px;
		}

		/* Block */
		.content-source-account .section-guarantee .block {
			margin: 0 -10px;
			}

		.content-source-account .section-guarantee h6 {
			color: #515050;
			font-size: 15px;
			line-height: 27px;
			margin: 0;
			text-transform: uppercase;
			}

		.content-source-account .section-guarantee h6 a.icon-help {
			display: inline-block;
			height: 19px;
			margin: 4px 0 4px 0;
			vertical-align: top;
			width: 19px;
			}

		.content-source-account .section-guarantee h6 a.icon-help:before {
			background-position: -180px -140px;
			height: 19px;
			width: 19px;
			}

		.content-source-account .section-guarantee h6 a.icon-help:hover {
			opacity: .8;
			}

		.content-source-account .section-guarantee .btn-default {
			font-size: 15px;
			height: 27px;
			padding: 2px 6px;
			width: 82px;
			}

		/* Bar Content */
		.content-source-account .bar-content {
			padding-top: 8px;
			padding-bottom: 20px;
			}

			/* Percents */
			.content-source-account .bar-content .percents {
				height: 55px;
				}

				.content-source-account .bar-content .percents > div {
					background-color: rgba(255,255,255,1);
					color: #515050;
					float: left;
					font-size: 15px;
					line-height: 26px;
					min-width: 103px;
					}
				.content-source-account .bar-content .percents.recommendation > div {
					min-width: 103px;
					}
				.content-source-account .bar-content .percents > div > strong {
					font-size: 16px;
					word-break: break-all;
					word-wrap: break-word;
					}

			/* Bar */
			.content-source-account .bar-content .bar {
				background-color: rgba(212,212,212,1);
				height: 9px;
				margin: 8px 0;
				}

				.content-source-account .bar-content .bar > div {
					float: left;
					height: 9px;
					}

			/* Facility */
			.content-source-account .bar-content .facility {
				height: 100px;
				}

				.content-source-account .bar-content .facility > div {
					background-color: rgba(255,255,255,1);
					color: #838383;
					float: left;
					font-size: 15px;
					line-height: 31px;
					position: relative;
					word-break: break-all;
					min-width: 88px;
					}
				.content-source-account .bar-content .facility.recommendation > div {
					min-width: 75px;
					}
				/* Remove Icon */
				.content-source-account .bar-content .facility > div > .icon-remove {
					display: inline-block;
					height: 10px;
					margin-left: 1px;
					width: 10px;
					}

				.content-source-account .bar-content .facility > div > .icon-remove:before {
					background-position: -150px -190px;
					height: 10px;
					width: 10px;
					}

				.content-source-account .bar-content .facility > div > .icon-remove:hover {
					opacity: .6;
					}

	/* List Group */
	.content-source-account .list-group {
		background-color: rgba(249,249,249,1);
		margin: 0 -24px 0px -24px;
		padding: 9px 24px 9px 24px;
		}

		.content-source-account .list-group h4 {
			color: #333333;
			font-size: 19px;
			padding: 0 20px;
			text-transform: uppercase;
			}

		.content-source-account .list-group .list-group-item {
			background-color: transparent;
			border-width: 0;
			padding-left: 0px;
			padding-right: 20px;
			}

		.content-source-account .list-group .block {
			border: #e0e0e0 solid 1px;
			border-radius: 5px;
			cursor: pointer;
			padding: 0 5px 0 8px;
			position: relative;
			height: 200px;
			}

		.content-source-account .list-group .list-group-item.on .block {
			background-color: rgba(238,251,234,1);
			}

			.content-source-account .list-group .block .remaining {
				padding: 0;
				}

			.content-source-account .list-group .block .remaining-box {
				margin-top: 10px;
				}

			.content-source-account .list-group .block > .icon-remove {
				height: 17px;
				position: absolute;
				right: 13px;
				top: 12px;
				width: 17px;
				}

			.content-source-account .list-group .block > .icon-remove:before {
				background-position: -180px -170px;
				height: 17px;
				width: 17px;
				}

			.content-source-account .list-group .block > .icon-remove:hover {
				opacity: .6;
				}

			.content-source-account .list-group .block > h6 {
				color: #515050;
				font-size: 17px;
				margin-top: 9px;
				margin-bottom: 13px;
				/* Added */
				padding-bottom: 5px;
				border-bottom-width: 4px;
				border-bottom-style: solid;
				}

			.content-source-account .list-group .block  p {
				color: #7e7e7e;
				font-size: 16px;
				margin-bottom: 10px;
				padding: 0;
				}

			.content-source-account .list-group .block  strong {
				color: #515050;
				display: block;
				font-size: 20px;
				line-height: 1em;
				font-weight: normal;
				}

		.divider {
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		}

			.content-source-account .list-group .form-control {
				border-color: #dddddd;
				box-shadow: none;
				font-size: 16px;
				height: 35px;
				margin-top: 5px;
				}

			.content-source-account .list-group .form-control.ng-invalid-currency,
			.content-source-account .list-group .form-control.ng-invalid-amount,
			.content-source-account .list-group .form-control.ng-invalid-range {
				background-color: rgba(255,235,235,1);
				border-color: #e87e7e;
				}

/* Content for Credit Form */
.content-credit-form .heading {
	padding: 33px 25px 22px 25px;
	}

	.content-credit-form .heading > h3 {
		color: #515151;
		font-size: 17px;
		line-height: 24px;
		font-weight: bold;
		margin: 0 0 0 5px;
		}

	.content-credit-form .heading > i {
		color: #515151;
		font-size: 15px;
		line-height: 24px;
		margin-left: 75px;
		}

	.content-credit-form .heading > i > .required {
		color: #f41212;
		}

	.content-credit-form .heading > div > a {
		color: #3c83cb;
		font-size: 14px;
		line-height: 24px;
		margin-left: 30px;
		}

	/* Panel */
	.content-credit-form .panel {
		border: #d3d3d3 solid 1px;
		border-radius: 4px;
		box-shadow: none;
		margin: 0 25px 13px 25px;
		}

		/* Panel Heading */
		.content-credit-form .panel-heading {
			/* Firefox 3.6+ */
			background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(242,242,242,1));
			/* Safari 4-5, Chrome 1-9 */
			/* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
			background-image: -webkit-gradient(linear,top,from(rgba(255,255,255,1)),to(rgba(242,242,242,1)));
			/* Safari 5.1+, Chrome 10+ */
			background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(242,242,242,1));
			/* Opera 11.10+ */
			background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(242,242,242,1));
			/* IE 10,11 */
			background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(242,242,242,1));
			border-radius: 4px 4px 3px 3px;
			padding: 0 15px;
			position: relative;
			}

			.content-credit-form .panel-heading h4 {
				color: #333333;
				font-size: 15px;
				font-weight: bold;
				margin-top: 0;
				margin-bottom: 0;
				padding: 16px 24px;
				position: relative;
				text-transform: uppercase;
				}

			.content-credit-form .panel-heading h4.icon-accordion {
				cursor: pointer;
				}

			.content-credit-form .panel-heading h4.icon-accordion:before {
				background-position: -40px -270px;
				height: 16px;
				margin-top: -8px;
				position: absolute;
				top: 50%;
				left: 0;
				width: 13px;
				}

			/* Checked Icon */
			.content-credit-form .panel-heading .icon-checked {
				display: block;
				height: 23px;
				position: absolute;
				top: 14px;
				right: 18px;
				width: 23px;
				}

			.content-credit-form .panel-heading .icon-checked:before {
				background-position: -180px -190px;
				height: 23px;
				width: 23px;
				}

			.content-credit-form .panel-heading .icon-checked.active:before {
				background-position: -180px -220px;
				}

		/* Panel Body */
		.content-credit-form .panel-body {
			display: none;
			overflow: visible;
			padding: 39px 0 28px 0;
			}

			.content-credit-form .panel-body .form-group {
				margin-bottom: 9px;
				padding-left: 106px;
				position: relative;
				}
			.content-credit-form .panel-body .form-group.currency {
				width: 55%;
				min-width: 560px;
				}
			.content-credit-form .panel-body .form-group.form-group-first {
				z-index: 100;
				}

			.content-credit-form .panel-body .form-group.form-group-second {
				z-index: 10;
				}

			.content-credit-form .panel-body .form-group > label,
			.content-credit-form .panel-body .is-label {
				color: #333333;
				display: block;
				font-size: 17px;
				font-weight: normal;
				line-height: 15px;
				margin-bottom: 0;
				padding: 13px 0;
				position: absolute;
				width: 172px;
				}

			.content-credit-form .panel-body .form-group.inline.last > label {
				width: 194px;
				}

			.content-credit-form .panel-body label > .required,
			.content-credit-form .panel-body .is-label > .required,
			.content-credit-form .panel-body .input-group-inline > .required {
				color: #f41212;
				}

			.content-credit-form .panel-body .input-group {
				display: block;
				margin: 0 158px 0 172px;
				position: relative;
				}

			.content-credit-form .panel-body .input-group-icon {
				margin-right: 208px;
				}

			.content-credit-form .panel-body .input-group-sm-select {
				margin-right: 628px;
				z-index: 10;
				}

			.content-credit-form .panel-body .form-group.inline .input-group {
				margin-right: 76px;
				}

			.content-credit-form .panel-body .form-group.inline.last .input-group {
				margin: 0 208px 0 194px;
				}

			.content-credit-form .panel-body .input-group-inline {
				color: #333333;
				font-size: 17px;
				margin-left: 0;
				}

			.content-credit-form .panel-body .form-control {
				background-color: rgba(255,255,255,1);
				border-color: #dddddd;
				border-radius: 4px;
				box-shadow: none;
				color: #808080;
				display: block;
				float: none;
				font-size: 17px;
				height: 41px;
				padding: 6px 20px;
				width: 100%;
				}

			.content-credit-form .panel-body .form-control.error {
				background-color: rgba(255,235,235,1);
				border-color: #e87e7e;
				}

			.content-credit-form .panel-body .input-group-inline .form-control {
				display: inline-block;
				margin: 0 6px 0 14px;
				width: 71px;
				}

			.content-credit-form .panel-body .form-control-date {
				width: 132px;
				}

			/* Icon Help */
			.content-credit-form .panel-body .icon-help {
				display: block;
				height: 31px;
				position: absolute;
				top: 5px;
				right: 166px;
				width: 31px;
				}

			.content-credit-form .panel-body .icon-help:before {
				background-position: 0 -250px;
				height: 31px;
				width: 31px;
				}

			.content-credit-form .panel-body .icon-help:hover {
				opacity: .6;
				}

			.content-credit-form .panel-body .icon-calendar {
				display: block;
				height: 27px;
				padding: 7px 0;
				position: absolute;
				top: 0;
				left: 137px;
				width: 28px;
				}

			.content-credit-form .panel-body .icon-calendar:before {
				background-position: 0 -290px;
				height: 27px;
				width: 28px;
				}

			/* Note */
			.content-credit-form .panel-body .note {
				color: #616161;
				font-size: 15px;
				font-style: italic;
				line-height: 18px;
				padding: 0 106px 11px 106px;
				}

			.content-credit-form .panel-body .note.last {
				padding-top: 10px;
				}

			.content-credit-form .panel-body .suffix {
				color: #474747;
				font-size: 17px;
				line-height: 41px;
				position: absolute;
				top: 0;
				right: -22px;
				}

		/* Radio Group */
		.content-credit-form .panel-body .radio-group {
			display: inline-block;
			margin: 0 158px 0 172px;
			padding-bottom: 4px;
			position: relative;
			}

		.content-credit-form .panel-body .radio-group .message {
			top: 24px;
			right: -176px;
			}

			.content-credit-form .panel-body .radio-control {
				float: left;
				padding-right: 25px;
				margin-right: 30px;
				}

			.content-credit-form .panel-body .radio-control.error {
				outline: dashed #e87e7e 1px;
				}

			.content-credit-form .panel-body .radio-control > label {
				padding-top: 8px;
				padding-bottom: 2px;
				}

			.content-credit-form .panel-body .radio-control .icon-help {
				display: inline-block;
				height: 19px;
				margin-left: 2px;
				position: static;
				vertical-align: top;
				width: 19px;
				}

			.content-credit-form .panel-body .radio-control .icon-help:before {
				background-position: -180px -140px;
				height: 19px;
				width: 19px;
				}

		/* Message */
		.content-credit-form .panel-body .message {
			position: absolute;
			top: 0;
			right: 0;
			width: 146px;
			}

			.content-credit-form .panel-body .message > p {
				color: #de4040;
				font-size: 15px;
				line-height: 41px;
				padding-left: 30px;
				position: relative;
				}

			.content-credit-form .panel-body .message > p:before {
				background-image: url(../i/icons.png);
				background-position: -150px -220px;
				content: '';
				display: block;
				height: 23px;
				margin-top: -11.5px;
				position: absolute;
				top: 50%;
				left: 0;
				width: 23px;
				}

	/* On Status */
	.content-credit-form .panel.on {
		border-radius: 4px 4px 0 0;
		}

		.content-credit-form .on .panel-heading {
			border-bottom: #d3d3d3 solid 1px;
			}

			.content-credit-form .on .panel-heading h4.icon-accordion:before {
				background-position: -40px -250px;
				margin-top: -6.5px;
				height: 13px;
				width: 16px;
				}

		.content-credit-form .on .panel-body {
			display: block;
			}

/* Content for Purchase Order Upload */
.content-upload .section {
	margin: 0 -23px;
	padding: 30px 0 0 0;
	position: relative;
	}

	/* Well */
	.content-upload .well {
		border-width: 0;
		border-radius: 0;
		box-shadow: none;
		min-height: 433px;
		}

	.content-upload .well:first-child {
		background-color: rgba(246,246,246,1);
		position: absolute;
		text-align: center;
		width: 414px;
		}

		/* Icon */
		.content-upload .well:first-child > div.icon {
			height: 385px;
			position: relative;
			}

		.content-upload .well:first-child > div.icon:before {
			background-position: -160px -250px;
			height: 56px;
			margin-top: -28px;
			position: absolute;
			top: 50%;
			right: -43px;
			width: 19px;
			}

		.content-upload .well:first-child p {
			color: #515151;
			font-size: 19px;
			line-height: 30px;
			margin: 0 40px;
			position: relative;
			}

		.content-upload .well:first-child p.icon {
			padding-top: 123px;
			}

		.content-upload .well:first-child p.icon:before {
			background-position: -100px -250px;
			height: 41px;
			margin: 8px auto;
			width: 49px;
			}

	.content-upload .well:last-child {
		margin: 0 66px 23px 462px;
		}

		.content-upload .well:last-child h3 {
			color: #ff3939;
			font-size: 20px;
			font-weight: bold;
			line-height: 28px;
			margin: 42px 0 0 0;
			}

		.content-upload .well:last-child p {
			color: #4c4c4c;
			font-size: 20px;
			line-height: 28px;
			}

		.content-upload .well:last-child i {
			color: #808080;
			display: block;
			font-size: 15px;
			line-height: 23px;
			padding: 36px 0 67px 0;
			}

		/* Form Group */
		.content-upload .form-group {
			margin-right: 34px;
			position: relative;
			}

			.content-upload .form-group > label {
				color: #333333;
				display: block;
				font-size: 17px;
				font-weight: normal;
				line-height: 15px;
				margin-bottom: 0;
				padding: 13px 0;
				position: absolute;
				width: 128px;
				}

			.content-upload .form-group > label > .required {
				color: #f41212;
				}

			.content-upload .form-group .input-group {
				display: block;
				margin-left: 128px;
				}

			.content-upload .form-group .form-control {
				background-color: rgba(255,255,255,1);
				border-color: #dddddd;
				border-radius: 4px;
				box-shadow: none;
				color: #808080;
				display: block;
				float: none;
				font-size: 17px;
				height: 41px;
				padding: 6px 20px;
				width: 100%;
				}

		/* Button Group */
		.content-upload .well:last-child .button-group {
			margin-left: 128px;
			padding-top: 7px;
			}

			.content-upload .well:last-child .button-group .btn {
				margin-right: 6px;
				width: 113px;
				}

/* Content for Review */
.container-fluid .container-fluid {
	margin: 0 -34px;
	padding-top: 17px;
	padding-bottom: 71px;
	}

	/* Block */
	.container-fluid .block {
		padding: 0 28px;
		}

		.container-fluid .block h3 {
			border-bottom: #e1e1e1 solid 1px;
			color: #35a71a;
			font-size: 18px;
			margin-top: 33px;
			padding-left: 4px;
			padding-bottom: 10px;
			text-transform: uppercase;
			}

		.container-fluid .block dl {
			display: table;
			margin-bottom: 0;
			width: 100%;
			}

		.container-fluid .block dt {
			color: #333333;
			display: table-cell;
			font-size: 16px;
			font-weight: bold;
			line-height: 20px;
			padding: 8px 0 9px 4px;
			vertical-align: middle;
			width: 186px;
			}

		.container-fluid .block dt.sm {
			width: 140px;
			}

		.container-fluid .block dd {
			color: #7d7d7d;
			display: table-cell;
			font-size: 16px;
			line-height: 20px;
			padding: 8px 0 9px 0;
			vertical-align: middle;
			}

		.container-fluid .block p {
			color: #333;
			font-size: 17px;
			line-height: 20px;
			/*padding-top: 4px;*/
			/*padding-right: 80px;*/
			}

		/* Alert */
		.container-fluid .block .alert-warning {
			background-color: rgba(255,245,203,1);
			border-width: 0;
			border-radius: 2px;
			box-shadow: rgba(0,0,0,.16) 0 0 5px;
			color: #616161;
			font-size: 15px;
			margin-left: 19px;
			line-height: 19px;
			margin-top: 74px;
			padding: 16px 21px 19px 21px;
			width: 313px;
			}

/* Button Group */
.nav-content > .button-group {
	border-top: #eeeeee solid 1px;
	display: block;
	min-height: 42px;
	padding-top: 66px;
	position: relative;
	text-align: center;
	}

.content-source-account > .button-group {
	padding-top: 22px;
	}

.content-credit-form > .button-group {
	margin-top: 72px;
	padding-top: 26px;
	}

.content-upload > .button-group,
.content-review > .button-group {
	padding-top: 26px;
	}

	/* Position */
	.content-credit-form > .button-group .pull-left,
	.content-review > .button-group .pull-left {
		position: absolute;
		left: 0;
		}

	.content-credit-form > .button-group .pull-right,
	.content-review > .button-group .pull-right {
		position: absolute;
		right: 0;
		}

	.button-group .btn {
		font-size: 16px;
		height: 42px;
		line-height: 28px;
		}


	.button-group .btn > .icon {
		display: inline-block;
		position: relative;
		}

	.button-group .btn > .icon:before {
		position: absolute;
		top: 50%;
		}

	/* Back Button */
	.button-group .btn-back {
		width: 133px;
		}

	.button-group .icon-back {
		padding-left: 16px;
		}

	.button-group .icon-back:before {
		background-position: -140px -30px;
		height: 14px;
		margin-top: -7px;
		left: 0;
		width: 8px;
		}

	/* Next Button */
	.button-group .btn-next {
		width: 133px;
		}

	.button-group .icon-next {
		padding-right: 16px;
		}

	.button-group .icon-next:before {
		background-position: -120px -30px;
		height: 14px;
		margin-top: -7px;
		right: 0;
		width: 8px;
		}

	/* Submit for Review Button */
	.button-group .btn-submit-review,
	.button-group .btn-submit-approval {
		width: 199px;
		}

	/* Save for Later Button */
	.button-group .btn-save-later,
	.button-group .btn-cancel {
		margin: 0 5px;
		width: 159px;
		}

/* Tooltip */
.popover {
background-color: rgba(255,243,210,1);
border-width: 0;
border-radius: 4px;
box-shadow: rgba(0,0,0,.14) 0 0 16px;
max-width: 302px;
width: 302px;
}

.popover.top > .arrow {
	border-top-color: rgba(255,243,210,1);
	}

.popover.top > .arrow:after {
	border-top-color: rgba(255,243,210,1);
	}

.popover-content {
	color: #6b6b6b;
	font-size: 16px;
	line-height: 22px;
	padding: 24px 20px 19px 20px;
	}

/* Date Picker */
.uib-datepicker-popup {
padding: 9px;
}

.uib-datepicker-popup .btn-default {
	border-color: #ccc;
	}

.uib-daypicker .btn-default:hover {
	background-color: rgba(235,235,235,1);
	}

.uib-daypicker .btn-default[disabled]:hover {
	background-color: rgba(255,255,255,1);
	}

.uib-daypicker .btn-default.active,
.uib-daypicker .btn-default.active:hover {
	background-color: rgba(69,142,216,1);
	border-color: #ccc;
	}

.uib-daypicker .btn-default.active > span {
	color: #fff;
	}

.uib-datepicker table:focus {
	outline: none;
	}

.uib-datepicker-popup .uib-button-bar {
	padding: 9px 0;
	}

.uib-datepicker-popup .btn-sm {
	border-radius: 3px;
	}

.uib-datepicker-popup .uib-left,
.uib-datepicker-popup .uib-right {
	height: 30px;
	position: relative;
	width: 30px;
	}

.uib-datepicker-popup .uib-left:before,
.uib-datepicker-popup .uib-right:before {
	background-image: url(../i/icons.png);
	content: '';
	display: block;
	height: 12px;
	margin: -6px 0 0 -5.5px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 11px;
	}

.uib-datepicker-popup .uib-left:before {
	background-position: -40px -290px;
	}

.uib-datepicker-popup .uib-right:before {
	background-position: -60px -290px;
	}

/* Modal */
.modal-bg {
background-color: rgba(0,0,0,.8);
position: fixed;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 10000;
}

.modal {
display: table;
height: 100%;
width: 100%;
}

.modal .vertical-align-center {
display: table-cell;
vertical-align: middle;
}

.modal .modal-dialog {
	border-radius: 5px;
	box-shadow: rgba(0,0,0,.75) 0 0 38px;
	margin: 0 auto;
	}

/* Header */
.modal .modal-header {
	background-color: rgba(2,48,127,1);
	border-radius: 5px 5px 0 0;
	padding: 15px 0;
	text-align: center;
	}

	.modal .modal-header h2 {
		color: #fff;
		display: inline-block;
		font-size: 20px;
		font-weight: normal;
		line-height: 40px;
		margin-top: 0;
		margin-bottom: 0;
		}

/* Content */
.modal .modal-content {
	border-width: 0;
	border-radius: 0;
	box-shadow: none;
	}

.modal .modal-content > .panel {
	margin-bottom: 0;
	}

/* Footer */
.modal .modal-footer {
	background-color: rgba(240,240,240,1);
	border-radius: 0 0 5px 5px;
	padding-bottom: 13px;
	text-align: center;
	}

	.modal .modal-footer .btn-primary {
		font-size: 16px;
		height: 42px;
		line-height: 28px;
		margin: 0 44px;
		width: 143px;
		}

	.modal .modal-footer .btn-primary.btn-large {
		width: 230px;
		}

/* Max Modal */
.modal-bg.max,
.modal-bg.max .modal {
position: absolute;
}

.modal-bg.max .vertical-align-center {
vertical-align: top;
}

.modal-bg.max .modal-dialog {
	margin-top: 320px;
	}

.modal-bg.max .modal-dialog.modal-recommended-actions,
.modal-bg.max .modal-dialog.modal-latest-news {
	margin-top: 40px;
	width: 850px;
	}

.modal-bg.max .modal-dialog.modal-current-assets {
		margin-top: 100px;
	}

/* Comfirm Removal */
.modal .modal-comfirm-removal,
.modal .modal-credit-created {
width: 562px;
}

.modal .modal-tasks,
.modal .modal-trade-investment,
.modal .modal-import-letter-credit,
.modal .modal-trade-tasks {
width: 882px;
}

.modal .modal-comfirm-removal .modal-content {
	padding: 35px 0;
	}

.modal-comfirm-removal p {
	color: #3b3b3b;
	font-size: 24px;
	line-height: 32px;
	padding: 13px 0 35px 0;
	text-align: center;
	}

.modal-comfirm-removal p > strong {
	display: block;
	}

.modal-comfirm-removal span {
	color: #3b3b3b;
	display: block;
	font-size: 18px;
	font-style: italic;
	padding-bottom: 30px;
	text-align: center;
	}

/* Credit Created */
.modal .modal-credit-created .icon-success {
	padding-left: 32px;
	position: relative;
	}

.modal .modal-credit-created .icon-success:before {
	background-position: -80px -300px;
	height: 18px;
	margin-top: -9px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 21px;
	}

.modal .modal-credit-created .modal-content {
	padding: 38px 0;
	}

.modal .modal-credit-created i {
	color: #413f3f;
	display: block;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	}

.modal .modal-credit-created dl {
	padding: 41px 0 8px 0;
	margin-bottom: 0;
	}

.modal .modal-credit-created dt {
	color: #000000;
	float: left;
	font-size: 18px;
	line-height: 37px;
	padding-left: 118px;
	width: 294px;
	}

.modal .modal-credit-created dd {
	color: #7d7d7d;
	font-size: 18px;
	line-height: 37px;
	padding-right: 24px;
	}

/**
Calendar
**/
.panel-calendar .panel-heading {
text-align: center;
}

.panel-calendar .panel-heading h3 {
	color: #333333;
	display: inline-block;
	font-size:  14px;
	font-weight: bold;
	position: relative;
	padding: 0 25px;
	}

.panel-calendar .panel-heading .icon-previous,
.panel-calendar .panel-heading .icon-next {
	height: 14px;
	margin-top: -7px;
	position: absolute;
	top: 50%;
	width: 8px;
	}

.panel-calendar .panel-heading .icon-previous {
	left: 0;
	}

.panel-calendar .panel-heading .icon-next {
	right: 0;
	}

.panel-calendar .panel-heading .icon-previous:before {
	background-position: -110px -300px;
	height: 14px;
	width: 8px;
	}

.panel-calendar .panel-heading .icon-next:before {
	background-position: -120px -300px;
	height: 14px;
	width: 8px;
	}

.panel-calendar .panel-heading .icon-previous:hover,
.panel-calendar .panel-heading .icon-next:hover {
	opacity: .6;
	}

.panel-calendar .panel-body {
padding: 0 12px;
}

.panel-calendar .cal-context {
	padding-top: 10px;
	padding-bottom: 10px;
	}

.panel-calendar .cal-year-box [class*="span"],
.panel-calendar .cal-month-box [class*="cal-cell"],
.panel-calendar .cal-month-box,
.panel-calendar .cal-year-box,
.panel-calendar .cal-week-box,
.panel-calendar .cal-year-box .row,
.panel-calendar .cal-month-box .cal-row-fluid {
	border-width: 0;
	}

.panel-calendar .cal-row-head .cal-cell1 {
	border-bottom: #eaeaea solid 1px;
	color: #9b9b9b;
	font-size: 11px;
	font-weight: normal;
	line-height: 22px;
	text-transform: uppercase;
	}

.panel-calendar .cal-row-fluid,
.panel-calendar .cal-month-day {
	height: 35px;
	}

.panel-calendar .cal-month-box [class*="cal-cell"] {
	min-height: 35px;
	}

.panel-calendar .cal-month-day {
	cursor: pointer;
	padding: 5px 0;
	text-align: center;
	}

.panel-calendar span[data-cal-date] {
	border-radius: 50%;
	color: #333333;
	display: block;
	font-size: 15px;
	line-height: 24px;
	margin: 0 auto;
	opacity: 1;
	width: 24px;
	}

.panel-calendar .cal-day-outmonth span[data-cal-date] {
	color: #cccccc;
	opacity: 1;
	}

.cal-day-tick {
	display: none;
	}

/* Today */
.panel-calendar .cal-day-today {
	background-color: transparent;
	}

.panel-calendar .cal-day-today span[data-cal-date] {
	color: #333;
	font-size: 15px;
	}

.panel-calendar .cal-month-box .cal-day-selected span[data-cal-date] {
	background-color: rgba(204,204,204,1);
	color: #fff;
	font-size: 15px;
	}

/* Event */
.panel-calendar .event {
	border-width: 0;
	border-radius: 50%;
	box-shadow: none;
	display: inline-block;
	height: 5px;
	margin: 0 2px;
	vertical-align: top;
	width: 5px;
	}

.panel-calendar .events-list {
	max-height: 5px;
	padding-left: 0;
	right: 0;
	text-align: center;
	}

/* Event Widget */
.panel-calendar .widget-event {
	margin: 0 -12px;
	}

	.panel-calendar .widget-heading {
		background-color: rgba(248,249,251,1);
		padding: 0 16px 0 18px;
		}

	.panel-calendar .widget-heading > div {
		color: #6b6b6b;
		font-size: 14px;
		line-height: 34px;
		text-transform: uppercase;
		}

	.panel-calendar .widget-event .media {
		border-bottom: #eaeaea solid 1px;
		margin: 0 12px;
		}

	.panel-calendar .widget-event .media:last-child {
		border-bottom-width: 0;
		}

		.panel-calendar .widget-event .media {
			padding: 10px 0;
			}

		.panel-calendar .widget-event .media img {
			display: block;
			height: 46px;
			width: 46px;
			}

		.panel-calendar .widget-event .media .icon {
			color: #6b6b6b;
			display: block;
			font-size: 14px;
			line-height: 18px;
			padding-left: 18px;
			position: relative;
			}

		.panel-calendar .widget-event .media .icon-time:before {
			background-position: -190px -270px;
			height: 13px;
			margin-top: -6.5px;
			position: absolute;
			top: 50%;
			left: 0;
			width: 13px;
			}

		.panel-calendar .widget-event .media .icon-location:before {
			background-position: -190px -250px;
			height: 16px;
			margin-top: -8px;
			position: absolute;
			top: 50%;
			left: 0;
			width: 11px;
			}

		.panel-calendar .widget-event .media p {
			color: #4e4e4e;
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 0;
			padding: 8px 0 4px 0;
			}

	/* No Result */
	.panel-calendar .widget-event .widget-body > p {
		padding: 18px;
		}

/* Pagination */
.pagiations {
border-top: #eaeaea solid 1px;
padding: 10px 0;
}

.pagiations .pre-page {
float: left;
position: relative;
}

.pagiations .pre-page > span {
	color: #666666;
	display: block;
	font-size: 14px;
	line-height: 27px;
	position: absolute;
	top: 0;
	white-space: nowrap;
	}

.pagiations .pre-page > span:first-child {
	left: 20px;
	}

.pagiations .pre-page > span:last-child {
	left: 128px;
	}

.pagiations .pre-page .custom-dropdown {
	border-radius: 2px;
	height: 27px;
	margin-left: 75px;
	padding: 3px 6px;
	width: 42px;
	}

.pagiations .pre-page .custom-dropdown:before {
	background-position: -190px -290px;
	margin-top: -2.5px;
	height: 5px;
	right: 4px;
	width: 9px;
	}

.pagiations .pre-page .custom-dropdown > span {
	color: #666666;
	font-size: 15px;
	line-height: 19px;
	}

.pagiations .pre-page .custom-dropdown > .dropdown {
	top: 26px;
	}

.pagiations .pre-page .custom-dropdown > .dropdown li {
	padding: 0 6px;
	}

.pagiations .pre-page .custom-dropdown > .dropdown li > a {
	font-size: 13px;
	line-height: 22px;
	}

/* Pagination Widget */
.pagiations .widget-pagination {
float: right;
margin-right: 16px;
position: relative;
}

.pagiations .widget-pagination > span {
	color: #666666;
	display: block;
	font-size: 14px;
	line-height: 27px;
	position: absolute;
	}

.pagiations .pagination {
	margin: 0;
	margin-left: 52px;
	}

.pagiations .pagination-sm > li > a,
.pagiations .pagination-sm > li > span {
	font-size: 14px;
	line-height: 27px;
	padding: 0 8px;
	position: relative;
	}

.pagiations .pagination > .disabled {
	display: none;
	}

.pagiations .pagination > .disabled > span,
.pagiations .pagination > .disabled > span:hover,
.pagiations .pagination > .disabled > span:focus,
.pagiations .pagination > .disabled > a,
.pagiations .pagination > .disabled > a:hover,
.pagiations .pagination > .disabled > a:focus {
	border-width: 0;
	}

.pagiations .pagination .pagination-prev > a {
	padding-left: 16px;
	}

.pagiations .pagination .pagination-next > a {
	padding-right: 16px;
	}

.pagiations .pagination .pagination-prev > a:before,
.pagiations .pagination .pagination-next > a:before {
	background-image: url(../i/icons.png);
	content: '';
	display: block;
	height: 8px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 5px;
	}

.pagiations .pagination .pagination-prev > a:before {
	background-position: -190px -300px;
	left: 4px;
	}

.pagiations .pagination .pagination-next > a:before {
	background-position: -200px -300px;
	right: 4px;
	}

/* Modal For Current Assets */
.modal-current-assets .modal-content {
padding-top: 35px;
padding-bottom: 100px;
}

.modal-current-assets .list-group {
border-width: 0;
margin-left: 32px;
margin-right: 32px;
margin-bottom: 0;
}

.modal-current-assets .list-group > .list-group-item {
	border-width: 0;
	padding: 0;
	margin-bottom: 0;
	}

.modal-current-assets .list-group > .list-group-item > a {
	background-color: rgba(69,142,216,1);
	border-radius: 3px;
	color: #ffffff;
	font-size: 18px;
	display: block;
	height: 56px;
	line-height: 56px;
	padding: 0 42px;
	position: relative;
	text-decoration: none;
	}

.modal-current-assets .list-group > .list-group-item > a:hover {
	opacity: .8;
	}

.modal-current-assets .list-group > .list-group-item > a.icon-accrodion:before {
	background-position: -210px -30px;
	height: 16px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	left: 16px;
	width: 13px;
	}

/* On Status */
.modal-current-assets .list-group > .list-group-item.on > a.icon-accrodion:before {
	background-position: -210px 0;
	margin-top: -6.5px;
	height: 13px;
	width: 16px;
	}

	.modal-current-assets .list-group > .list-group-item.on > .list-group {
		display: block;
		}

	/* Secondary Level */
	.modal-current-assets .list-group-item > .list-group {
		display: none;
		margin-right: 0;
		}

	.modal-current-assets .list-group-item > .list-group  > .list-group-item {
		border-bottom: #dddddd solid 1px;
		}

	.modal-current-assets .list-group-item > .list-group > .list-group-item:last-child {
		border-bottom-width: 0;
		}

	.modal-current-assets .list-group-item > .list-group  > .list-group-item > a {
		background-color: transparent;
		color: #626262;
		font-size: 16px;
		font-weight: bold;
		line-height: 55px;
		padding: 0 32px;
		}

	.modal-current-assets .list-group-item > .list-group  > .list-group-item > span {
		display: block;
		font-size: 16px;
		line-height: 55px;
		position: absolute;
		top: 0;
		right: 52px;
		}

	.modal-current-assets .list-group-item > .list-group > .list-group-item > a.icon-accrodion:before {
		background-position: -210px -90px;
		height: 16px;
		margin-top: -8px;
		position: absolute;
		top: 50%;
		left: 8px;
		width: 13px;
		}

	/* On Status */
	.modal-current-assets .list-group-item > .list-group > .list-group-item.on > a.icon-accrodion:before {
		background-position: -210px -60px;
		height: 13px;
		margin-top: -6.5px;
		width: 16px;
		}

		.modal-current-assets .list-group-item > .list-group > .list-group-item.on > .list-group {
			display: block;
			}

		/* Third Level */
		.modal-current-assets .list-group-item > .list-group  > .list-group-item > .list-group {
			border-top: #dddddd solid 1px;
			display: none;
			margin-left: 0;
			max-height: 481px;
			overflow: auto;
			padding-bottom: 20px;
			}

			.modal-current-assets .list-group-item > .list-group  > .list-group-item > .list-group > .list-group-item {
				border-bottom-width: 0;
				padding: 7px 0;
				}

			.modal-current-assets .list-group-item > .list-group  > .list-group-item > .list-group > .list-group-item:nth-child(odd) {
				background-color: rgba(250,250,250,1);
				}

			.modal-current-assets .list-group-item > .list-group  > .list-group-item > .list-group > .list-group-item > a {
				color: #2c77c3;
				font-size: 15px;
				font-weight: normal;
				line-height: 32px;
				height: 32px;
				margin-left: 30px;
				}

			.modal-current-assets .list-group-item > .list-group  > .list-group-item > .list-group > .list-group-item > span {
				font-size: 15px;
				line-height: 32px;
				top: 7px;
				}

.uib-datepicker-popup {
padding: 0;
width: 290px;
}

.uib-datepicker-popup .panel-calendar:focus,
.uib-datepicker-popup .cal-month-day:focus {
outline: none;
box-shadow: none;
}

.uib-datepicker-popup .panel-calendar .panel-heading {
	background-color: rgba(248,249,251,1);
	background-image: none;
	border-bottom: 1px solid transparent;
	border-radius: 3px 3px 0 0;
	padding: 10px 12px;
	}

.uib-datepicker-popup .panel-calendar .cal-month-day {
	line-height: 25px;
	}

.uib-datepicker-popup .panel-calendar .cal-month-day.active {
	background-color: transparent;
	}

.uib-datepicker-popup .panel-calendar .cal-month-day.active span {
	background-color: rgba(204,204,204,1);
	color: #ffffff;
	}

.uib-datepicker-popup .panel-calendar span.text-muted {
	color: #ccc;
	}


/* Extra styles added to apply new designs  */
/* Extra styles added to apply new designs  */
/* Extra styles added to apply new designs  */
/* Extra styles added to apply new designs  */

.greeting h3 {
	margin: 0;
	padding: 15px 5px;
}

/* PANEL CURRENT ACCOUNTS */
.bankImage-logo {
	width: 50px;
	position: absolute;
	top: 14px;
}

/* PANEL SUMMARY ACCOUNT */

/*reseting previous styles */

.panel-summary-account-information .nav > li > a {
	background-image: none;
	/*border-top: #d3d3d3 solid 1px;
	border-bottom: #d3d3d3 solid 1px;*/
	border: 0;
	color: inherit;
	cursor: default;
	font-size: 16px;
	padding: 12px 10px 12px 34px;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

.panel-summary-account-information .nav > li.active > a {
	background-image: none;
	/*background-color: white;*/
	background: inherit;
	border-width: 0;
	padding-top: 13px;
	padding-bottom: 13px;
	color: inherit;
}

.panel-summary-account-information .nav > li:first-child > a,
.panel-summary-account-information .nav > li:last-child > a {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.panel-summary-account-information .nav > li > a:hover {
	color: inherit;
}

.panel-summary-account-information .nav > li.active > a:hover {
	color: inherit;
}

/*bootstrap overwrite*/
.nav > li > a:hover, .nav > li > a:focus {
	background-color: inherit;
}

.panel-summary-account-information .nav-tabs.nav-justified > .active > a,
.modal-summary-account-information .nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	border: 0;
	border-bottom: 4px solid rgba(107, 107, 107, 1);
  padding-bottom: 4px;
}

.modal-summary-account-information .modal-content {
	height: 330px;
}

.panel-summary-account-information .nav-tabs.nav-justified >  .active.primary-nav > a {
	color: RGBA(65, 140, 219, 1);
}

/*END reseting previous styles */

.panel-summary-account-information .assets-color,
.panel-summary-account-information .assets-color a {
	color: rgba(65, 140, 219, 1);
}

.panel-summary-account-information .all-color {
	color: rgba(107, 107, 107, 1);
}

.panel-summary-account-information .liability-color,
.panel-summary-account-information .liability-color a {
	color: rgba(241, 58, 53, 1);
}

.panel-summary-account-information .primary-nav {
	background: rgba(255, 255, 255, 1);
}

.panel-summary-account-information .secondary-nav {
	background: rgba(248, 249, 251, 1);
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.panel-summary-account-information .panel-body {
	box-shadow: rgba(97,107,123,.15) 0 0 4px;
	height: 370px;
	background: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.totalCountContainer {
	border-top: 1px solid rgba(0,0,0,.2);
	padding-top: 10px;
}

.totalCountBold {
	padding: 0;
}

.summary-products-list,
.summary-banks-list {
	padding: 0;
	padding-left: 10px;
	position: relative;
	font-size: 13px;
}

.summary-banks-list .summary-prods-list-assets-img {
	top: -10px;
}

.summary-banks-list .summary-list-heading {
	margin-left: 143px;
}

.summary-banks-item {
	padding: 10px 0;
}

.products-list-all-liability {
	border-left: 1px solid rgba(0,0,0,.2);
}

.summary-banks-list-liability {
	border-left: 1px solid rgba(0,0,0,.2);
}

.summary-prods-list-assets-img{
  position: relative;
  top: -32px;
}

.summary-prods-list-assets-img img {
	height: 200px;
}

.summary-prods-list-liability-img {
  position: relative;
  top: -15px;;
}

.summary-prods-list-liability-img img {
	width: 50px;
	height: 208px;
}

.totalCountSingleton-assets {
	position: relative;
  top: 27px;
  border-top: 1px solid rgba(0,0,0,.2);
  padding-top: 10px;
}

.totalCountSingleton-liability {
	position: relative;
  top: 18px;
  border-top: 1px solid rgba(0,0,0,.2);
  padding-top: 10px;
}

.summary-list-heading {
	margin-left: 155px;
	margin-top: 0;
}

.summary-products-list li {
	padding-bottom: 5px;
}

.products-list-liability li {
	padding-bottom: 1px;
}

.summary-products-list h4,
.summary-banks-list h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.modal-summary-account-information {
	background-color: white;
	min-height: 400px;
}

.modal-summary-account-information ul {
	list-style: none;
}

.modal-summary-account-information .modal-footer {
	background-color: white;
}

/* PANEL RECOMMENDED ACTIONS */

.recommend-list {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid  rgba(107, 107, 107, 0.3);
}

.recommend-list:last-child {
	border-bottom: 0;
}

.recommend-item {
	display: inline-block;
	padding: 15px 10px;
}

.recommend-buttons {
	padding: 9px;
}

.recommend-buttons .btn {
	padding: 5px 15px;
  margin-left: 12px;
  font-size: 12px;
}

.recommend-item img {
	width: auto;
	height: 17px;
}

.navbar-top > .nav {
	min-height:30px;
	height: 30px;
}
.navbar-top > .nav > .nav-item > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 10px;
	font-size: 14px;
}

.navbar-middle > .nav {
	min-height: 50px;
	height: 50px;
}
.navbar-middle > .nav > .nav-item > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 10px;
	font-size: 14px;
}

.modal-content .recommend-item img {
	width: auto;
	height: 15px;
	margin-top: 12px;
}

.modal-content .recommend-buttons .btn {
	padding: 5px 15px;
  margin-left: 12px;
  font-size: 12px;
}

.modal-content .recommend-buttons .btn-primary {
	margin: 0;
}

.modal-content .recommend-buttons {
	padding: 20px 10px;
}

.custom-badge{
	border: 1px solid transparent;
	padding: 3px 5px;
	border-radius: 50%;
	color: white;
	background: #418CDB;
	margin-left: 5px;
	font-size: 10px;
}

/* COLLAPSABLE ELEMENTS */

.panel-heading .iconArrowDown {
	background-image: url(../i/icons.png);
	background-position: -208px -60px;
	height: 15px;
	position: absolute;
	top: 12px;
	left: 0;
	width: 18px;
	margin: 0 0 0 10px;
}

.panel-heading .iconArrowRight {
	background-image: url(../i/icons.png);
	background-position: -208px -90px;
	height: 18px;
	position: absolute;
	top: 12px;
	left: 0;
	width: 18px;
	margin: 0 0 0 10px;
}

.panel-heading h3.arrow-heading {
	margin: 0 0 0 24px;
}

/* STYLES FOR NEW LETTER OF CREDIT */

/* STYLES FOR RECOMMENDED LENDING ACTIONS*/

/* Pop Up Recomment */
.pop-up-recom {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.pop-up-recom .over-popup {
	width: 1162px;
	display: block;
	position: fixed;
	left: calc( 50% - 581px);
	top: calc( 50% - 438px);
	box-shadow: 0px 0px 38px 0px rgba( 0, 0, 0, 0.17);
	-moz-box-shadow: 0px 0px 38px 0px rgba( 0, 0, 0, 0.17);
	-webkit-box-shadow: 0px 0px 38px 0px rgba( 0, 0, 0, 0.17);
}
.pop-up-recom .over-popup .header-popup {
	display: block;
	width: 100%;
	text-align: center;
	background: #02307f;
	padding: 17.142px 0;
	border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
}
.pop-up-recom .over-popup .header-popup p {
	font-size: 25px;
	color: #fff;
	display: block;
	margin-bottom: 0;
}
.pop-up-recom .over-popup .main-popup {
	display: block;
	width: 100%;
	background: #fff;
	border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	padding-top: 48px;
}
.pop-up-recom .over-popup .main-popup .icon {
	font-size: 19px;
	color: #333;
	margin-bottom: 0;
	margin-left: 207px;
	position: relative;
}
.pop-up-recom .over-popup .main-popup .icon:before {
	display: inline-block;
	width: 77px;
	height: 22px;
	background-image: url(../i/logo-loan-popup.png);
	position: absolute;
	left: -90px;
	top: 2px;
}
.pop-up-recom .over-popup .main-popup ul {
	display: block;
	width: 100%;
	padding-left: 234px;
	padding-top: 48px;
}
.pop-up-recom .over-popup .main-popup ul li {
	display: inline-block;
	margin-right: 40px;
}
.pop-up-recom .over-popup .main-popup ul li a {
	font-size: 16.19px;
	display: block;
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 0 auto;
	padding: 9.5px 0;
	line-height: 20px;
	margin-bottom: 6px;
}
.pop-up-recom .over-popup .main-popup ul li a.button1 {
	width: 238px;
	background: #458ed8;
	text-align: center;
	text-decoration: none;
}
.pop-up-recom .over-popup .main-popup ul li a.button1:hover {
	background-color: #235e99;
}
.pop-up-recom .over-popup .main-popup ul li a.button2 {
	width: 238px;
	border: 1px solid #458ed8;
	color: #458ed8;
	text-align: center;
	text-decoration: none;
}
.pop-up-recom .over-popup .main-popup ul li a.button2:hover {
	color: #235e99;
}
.pop-up-recom .over-popup .main-popup ul li span {
	display: block;
	font-size: 14px;
	color: #7b7b7b;
	text-align: center;
}
.pop-up-recom .over-popup .main-popup .text {
	display: block;
	font-size: 19px;
	color: #333333;
	padding-left: 53px;
	padding-right: 30px;
	margin-top: 44px;
	margin-bottom: 6px;
}
.pop-up-recom .over-popup .main-popup .chart {
	display: block;
	width: 100%;
	text-align: center;
	padding-left: 52px;
	padding-right: 60px;
	padding-bottom: 32px;
}
.pop-up-recom .over-popup .main-popup .chart .main-chart {
	background: #f8f8f8;
	display: block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 17px;
}

/*   @Media Queries, do not add/write any rule after them. !important*/

@media (min-width: 992px) {
	.panel-tasks .table {
		width: 100%;
		}
}

@media (max-width: 959px) {
	/* Modal */
	.modal-bg .modal-dialog,
	.modal-bg.max .modal-dialog {
		margin-top: 40px;
		}

	.main-container.trade .col-lg-9 .row.btn-row .col-lg-2 {
			width: 49%;
			}
		.main-container.trade .col-lg-9 .row.btn-row .col-lg-2 {
			margin-right: 2%;
			}
		.main-container.trade .col-lg-9 .row.btn-row .col-lg-2:nth-child(2n) {
			margin-right: 0;
			}
}

@media (min-width: 1024px) {
	/* Header */
	.login header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		}
	header.dashboard-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		}

	/* Main Container */
	.main-container {
		margin-top: 130px;
		}
	.login .main-container {
		margin-top: 100px;
		}

	/* Main Navigation */
	header nav > ul > li {
		float: left;
		padding: 4px 7px 0 7px;
		}

	/* Modal */
	.modal-bg {
		top: -130px;
		height: calc(100% + 130px);
		}
	.modal-bg.max .modal-dialog.modal-tasks {
		margin-top: 80px;
		width: 95%;
		}

	/* Footer */
	footer {
		text-align: left;
		}

	footer .icon-back-top {
		position: absolute;
		top: 4px;
		right: 44px;
		}

	.content-credit-form .panel-body .form-group.inline {
		float: left;
		width: 44.16%;
		}

	.content-credit-form .panel-body .form-group.inline.last {
		padding-left: 0;
		width: 55.84%;
		z-index: 10;
		}
}

@media (min-width: 1200px) {

	/* Green Background */
	.green:before {
		background-color: rgba(239,247,243,1);
		box-sizing: content-box;
		content: '';
		display: block;
		padding-right: 18px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 25%;
		}
}

@media (min-width: 1280px) {
	/* Main Navigation */
  	header nav > ul > li {
		padding: 4px 21px 0 22px;
		}

	.content-amount .form-group {
		margin-left: 417px;
		margin-right: 417px;
		width: auto;
		}

	.content-credit-form .panel-body .input-group-md-select {
		margin-right: 428px;
		}

	.modal-bg.max .modal-dialog.modal-tasks {
		margin-top: 80px;
		width: 80%;
		}

	.nav-justified > li {
		display: inline-block;
		width: 20%;
		float: left;
		}
	.content-source-account .list-group .block {
		height: 160px;
	}
	.content-source-account .list-group .list-group-item {
		padding-left: 20px;
		padding-right: 20px;
		}
}

@media (min-width: 1220px) and (max-width: 1320px) {
	.main-container.trade .title-row .row.btn-row .col-lg-2 {
		margin-right: calc(25% - 278px);
		}
	.main-container.trade .title-row .row.btn-row .col-lg-2:nth-child(5) {
		margin-right: 0;
		}
}

@media (min-width: 1020px) and (max-width: 1219px) {
	.main-container.trade .title-row .row.btn-row .col-lg-2:nth-child(3),
	.main-container.trade .title-row .row.btn-row .col-lg-2:nth-child(4) {
		min-width: 50px;
		width: 14%;
		}
	.main-container.trade .title-row .row.btn-row .col-lg-2 {
		margin-right: calc(18% - 165px);
		}
	.main-container.trade .title-row .row.btn-row .col-lg-2:nth-child(5) {
		margin-right: 0;
		}
}

@media (min-width: 960px) and (max-width: 1019px) {
	.main-container.trade .title-row .row.btn-row .col-lg-2:nth-child(3),
	.main-container.trade .title-row .row.btn-row .col-lg-2:nth-child(4) {
		min-width: 50px;
		width: 12%;
		}
	.main-container.trade .title-row .row.btn-row .col-lg-2:nth-child(5) {
		min-width: 200px;
		width: 200px;
		}
	.main-container.trade .title-row .row.btn-row .col-lg-2 {
		margin-right: calc(19% - 160px);
		}
	.main-container.trade .title-row .row.btn-row .col-lg-2:nth-child(5) {
		margin-right: 0;
		}
}

@media (min-width: 1199px) and (max-width: 1320px) {
	.content-source-account .bar-content .facility > div {
		font-size: 12px;
		min-width: 75px;
		}
	.content-source-account .bar-content .percents > div > strong {
		font-size: 13px;
		}
	.content-source-account .bar-content .percents > div {
		font-size: 12px;
		min-width: 75px;
		}
	.content-source-account .bar-content .percents.recommendation > div {
		min-width: 75px;
		}
}

@media (max-width: 780px) {
	.content-source-account .bar-content .facility > div {
		font-size: 12px;
		min-width: 75px;
		}
	.content-source-account .bar-content .percents.recommendation > div {
		min-width: 75px;
		}
	.content-source-account .bar-content .percents > div > strong {
		font-size: 13px;
		}
	.content-source-account .bar-content .percents > div {
		font-size: 12px;
		min-width: 75px;
		}
	.content-source-account .bar-content .facility.recommendation > div {
		min-width: 60px;
		}
}

@media (max-width: 650px) and (max-width: 779px) {
	.content-source-account .bar-content .facility > div {
		font-size: 10px;
		min-width: 60px;
		}
	.content-source-account .bar-content .percents.recommendation > div {
		min-width: 60px;
		}
	.content-source-account .bar-content .percents > div > strong {
		font-size: 11px;
		}
	.content-source-account .bar-content .percents > div {
		font-size: 10px;
		min-width: 60px;
		}
	.content-source-account .bar-content .facility.recommendation > div {
		min-width: 60px;
		}
}
