<header class="dashboard-header" data-common-header></header>
<!--/ Header -->
<div class="main-container dashboard">
	<div class="greeting">
		<h3>Hello, {{client.firstName}} {{client.lastName}}</h3>
	</div>
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-lg-9">
            	<div class="row">
                	<div class="col-lg-5">
                    	<div class="panel">
                        	<div class="panel-heading">
                            	<h3>Current Assets &amp; Liabilities</h3>
                                <a href="javascript:;" class="icon icon-expand" data-trigger-modal data-ng-click="triggerCurrentAssetsModal();"></a>
                            </div>
														<div style="height: 330px;" class="panel-body">
                            <!--/ .panel-header --> <!-- DELETE INLINE STYLE -->
                            	<img class="placeholder" src="./i/graph.jpg" alt="Placeholder" />
                            </div>
                            <!--/ .panel-body -->
                        </div>
                        <!--/ .panel -->
                    </div>
										<!--/ col-lg-5 -->

										<div class="col-lg-7">
										  <div class="row panel panel-summary-account-information">
												<!-- Summary Information panel template "templetes/Summary_Information.hmtl"-->
								        <summary-info-panel/>
											</div>
									    <!--/ .panel  -->
										</div>
										<!--/ .col-lg-7 -->

									</div>
									<!--/ .row -->
									<div class="row">
										<div class="col-lg-12">
											<div class="panel panel-recommended-actions">
												<div class="panel-heading">
														<h3>Recommended Actions <span class="custom-badge">R</span></h3>
															<a href="javascript:;" class="icon icon-expand" data-trigger-modal data-temple="modal_recommoende_actions"></a>
													</div>
													<!--/ .panel-header -->
													<div class="panel-body">
														<div class="block">

															<ul class="col-lg-12 recommend-list" data-ng-repeat="item in dataSet['Recommended Actions']">
																<li class="col-lg-1 recommend-item">
																	<img src="../i/logo-header-common.png" alt="logo abc bank" />
																</li>
																<li class="col-lg-6 recommend-item">
																	<p>
																		{{item.recommendation}}
																	</p>
																</li>
																<li class="col-lg-4 recommend-item recommend-buttons">
																	<a href="{{item.linkBtns.more}}" class="btn btn-primary">{{item.textBtns.more}}</a>
																	<a href="{{item.linkBtns.revisit}}" class="btn btn-default">{{item.textBtns.revisit}}</a>
																	<a href="{{item.linkBtns.ignore}}" class="btn btn-default">{{item.textBtns.ignore}}</a>
																</li>
																<li class="col-lg-1 recommend-item">
																	<img ng-src="{{item.imageUrl}}" alt="logo" />
																</li>
															</ul>
														</div>
												</div>
									    </div>
													<!--/ .panel-body -->
											<!--/ .panel -->
										</div>
										<!--/ .col-lg-12 -->
									</div>
									<!--/ .row -->

									<div class="row">
										<div class="col-lg-12">
											<div class="panel">
												<div class="panel-heading">
														<a href="javascript:;"ng-class="{iconArrowRight: !isCollapsedAssets, iconArrowDown: isCollapsedAssets}" ng-click="isCollapsedAssets = !isCollapsedAssets"></a>
														<h3 class="arrow-heading">Assets &amp; Liabilities Over Time - 6 Months Forecast <span>[£m]</span></h3>
															<a href="javascript:;" class="icon icon-expand" data-trigger-modal data-temple="modal_assets_liabilities"></a>
													</div>
													<!--/ .panel-header -->
													<div uib-collapse="!isCollapsedAssets" class="panel-body">
														<img class="placeholder" src="./i/placeholder-assets-liabilities.png" alt="Placeholder" />
													</div>
													<!--/ .panel-body -->
											</div>
											<!--/ .panel -->
										</div>
										<!--/ .col-lg-12 -->
									</div>
									<!--/ .row -->

									<div class="row">
										<div class="col-lg-12">
											<div class="panel">
												<div class="panel-heading">
														<a href="javascript:;" ng-class="{iconArrowRight: !isCollapsedAge, iconArrowDown: isCollapsedAge}" ng-click="isCollapsedAge = !isCollapsedAge"></a>
														<h3 class="arrow-heading">Outstanding Payables By Age</h3>
															<a href="javascript:;" class="icon icon-expand" data-trigger-modal data-temple="modal_outstanding_payables"></a>
													</div>
													<!--/ .panel-header -->
													<div uib-collapse="!isCollapsedAge" class="panel-body">
														<img class="placeholder" src="./i/placeholder-outstanding-payables.png" alt="Placeholder" />
													</div>
													<!--/ .panel-body -->
											</div>
											<!--/ .panel -->
										</div>
										<!--/ .col-lg-12 -->
									</div>
									<!--/ .row -->
									<div class="row">
										<div class="col-lg-12">
											<div class="panel panel-tasks">
                        	<div class="panel-heading">
															<a href="javascript:;" ng-class="{iconArrowRight: isCollapsedTasks, iconArrowDown: !isCollapsedTasks}" ng-click="isCollapsedTasks = !isCollapsedTasks"></a>
                            	<h3 class="arrow-heading">Tasks</h3>
                                <a href="javascript:;" class="icon icon-expand" data-trigger-modal data-temple="modal_tasks"></a>
                            </div>
                            <!--/ .panel-header -->
                            <div uib-collapse="isCollapsedTasks" class="panel-body">
                            	<div class="scrollbar">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'id' && order.reverse, 'icon-asc': order.type === 'id' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[1]" data-ng-click="order.type = 'id'; order.reverse = !order.reverse"></a>
                                                </th>
                                                <th>
                                                    <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'productCategory' && order.reverse, 'icon-asc': order.type === 'productCategory' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[2]" data-ng-click="order.type = 'productCategory'; order.reverse = !order.reverse"></a>
                                                </th>
                                                <th>
                                                    <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'type' && order.reverse, 'icon-asc': order.type === 'type' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[3]" data-ng-click="order.type = 'type'; order.reverse = !order.reverse"></a>
                                                </th>
                                                <th>
                                                    <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'taskDescription' && order.reverse, 'icon-asc': order.type === 'taskDescription' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[4]" data-ng-click="order.type = 'taskDescription'; order.reverse = !order.reverse"></a>
                                                </th>
                                                <th>
                                                    <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'status' && order.reverse, 'icon-asc': order.type === 'status' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[5]" data-ng-click="order.type = 'status'; order.reverse = !order.reverse"></a>
                                                </th>
                                                <th>
                                                    <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'currency' && order.reverse, 'icon-asc': order.type === 'currency' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[7]" data-ng-click="order.type = 'currency'; order.reverse = !order.reverse"></a>
                                                </th>
                                                <th>
                                                    <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'amount' && order.reverse, 'icon-asc': order.type === 'amount' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[8]" data-ng-click="order.type = 'amount'; order.reverse = !order.reverse"></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="row in changeItemsForSelectedPagination() | orderBy: order.type : order.reverse">
                                                <td data-ng-bind-html="row.id"></td>
                                                <td data-ng-bind-html="row.productCategory"></td>
                                                <td data-ng-bind-html="row.type"></td>
                                                <td data-ng-bind-html="row.taskDescription"></td>
                                                <td>
                                                    <span class="badge" data-ng-class="row.status | lowercase" data-ng-bind-html="row.status | uppercase"></span>
                                                </td>
                                                <td data-ng-bind-html="row.currency"></td>
                                                <td data-ng-bind-html="row.amount"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pagiations clearfix">
                                	<div class="pre-page">
                                        <span>Display</span>
                                        <div class="form-control custom-dropdown" data-dropdown-select="dataSet['Tasks'].selectOptions" data-dropdown-model="dataSet['Tasks'].selectSelected"
                                        data-dropdown-item-label="text"></div>
                                        <span>/ page</span>
                                    </div>
                                    <!--/ .pre-page -->
                                    <div class="widget-pagination">
                                    	<span class="pull-left">Page</span>
                                        <div data-uib-pagination data-total-items="dataSet['Tasks'].matrix.length" data-items-per-page="dataSet['Tasks'].selectSelected.text" data-ng-model="currentPage" data-max-size="2" class="pagination-sm" data-boundary-link-numbers="true" data-rotate="false"></div>
                                    </div>
                                </div>
                                <!--/ .pagination -->
                            </div>
                            <!--/ .panel-body -->
                        </div>
                        <!--/ .panel -->
										</div>
										<!--/ .col-lg-12 -->
									</div>
									<!--/ .row -->
                </div>
                <!--/ .col-lg-9 -->
            <div class="col-lg-3">
            	<div class="panel panel-calendar" data-ng-controller="calendarCtrl as vm">
                	<div class="panel-heading">
                        <h3>
                        	<a href="javascript:;" class="icon icon-previous" data-mwl-date-modifier data-date="vm.viewDate" data-decrement="vm.calendarView"></a>
                        	{{vm.calendarTitle}}
                        	<a href="javascript:;" class="icon icon-next" data-mwl-date-modifier data-date="vm.viewDate" data-increment="vm.calendarView"></a>
                        </h3>
                        <a href="javascript:;" class="icon icon-expand" data-trigger-modal data-temple="modal_canlendar"></a>
                    </div>
                    <!--/ .panel-header -->
                    <div class="panel-body">
                        <div
                        	data-mwl-calendar
                            data-events="vm.events"
                            data-view="vm.calendarView"
                            data-view-title="vm.calendarTitle"
                            data-view-date="vm.viewDate"
                            data-day-view-split="30"
                            data-on-timespan-click="vm.timespanClicked(calendarDate)"
                            data-cell-modifier="vm.modifyCell(calendarCell)">
                        </div>
                        <div class="widget widget-event">
                        	<div class="widget-heading clearfix">
                            	<div class="pull-right">{{vm.lastDateClicked | date: "d MMM"}}</div>
                                <div>Events <span data-ng-if="isToday(vm.lastDateClicked)">Today</span></div>
                            </div>
                            <div class="widget-body">
                                <div class="media" data-ng-repeat="event in vm.events | range: vm.lastDateClicked | orderBy:'startsAt'">
                                    <div class="media-left">
                                        <img src="./i/thumb-01.jpg" class="img-circle" data-ng-src="{{event.thumb}}" alt="Thumb" />
                                    </div>
                                    <div class="media-body">
                                        <span class="icon icon-location pull-right" data-ng-bind="event.location"></span>
                                        <span class="icon icon-time" data-ng-bind="event.startsAt | time"></span>
                                        <p data-ng-bind-html="event.description"></p>
                                    </div>
                                </div>
                                <!--/ .media -->
                                <p data-ng-if="!(vm.events | range: vm.lastDateClicked).length">There is no event on this day.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ .panel -->
            	<div class="panel panel-rates">
                    <div class="panel-heading">
                        <h3>Rates</h3>
                        <a href="javascript:;" class="link">See All</a>
                        <a href="javascript:;" class="icon icon-expand" data-trigger-modal data-temple="modal_rates"></a>
                    </div>
                    <!--/ .panel-header -->
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>GBP</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>US Dollar</td>
                                    <td><span>1.38</span></td>
                                    <td><img src="./i/flag-us.png" alt="US" /></td>
                                </tr>
                                <tr>
                                    <td>Euro</td>
                                    <td><span>1.26</span></td>
                                    <td><img src="./i/flag-eu.png" alt="EU" /></td>
                                </tr>
                                <tr>
                                    <td>India Rupee</td>
                                    <td><span>95.36</span></td>
                                    <td><img src="./i/flag-in.png" alt="IN" /></td>
                                </tr>
                                <tr>
                                    <td>Japanese Yen</td>
                                    <td><span>158.03</span></td>
                                    <td><img src="./i/flag-jp.png" alt="JP" /></td>
                                </tr>
                                <tr>
                                    <td>Chinese Yuan</td>
                                    <td><span>9.07</span></td>
                                    <td><img src="./i/flag-ch.png" alt="CH" /></td>
                                </tr>
                                <tr>
                                    <td>Canadian Dollar</td>
                                    <td><span>1.87</span></td>
                                    <td><img src="./i/flag-cnd.png" alt="CND" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--/ .table -->
                    </div>
                    <!--/ .panel-body -->
                </div>
                <!--/ .panel -->
                <div class="panel panel-latest-news">
                    <div class="panel-heading">
                        <h3>Latest News</h3>
                        <a href="javascript:;" class="link">See All</a>
                        <a href="javascript:;" class="icon icon-expand" data-trigger-modal data-temple="modal_latest_news"></a>
                    </div>
                    <!--/ .panel-header -->
                    <div class="panel-body">
                    	<img class="banner" src="./i/banner-latest-news.jpg" data-ng-src="{{dataSet['Latest News'].banner}}" alt="Banner" />
                        <div class="media" data-ng-repeat="item in dataSet['Latest News'].news | limitTo: 8">
                        	<div class="media-left">
                            	<div class="date" data-ng-bind-html="item.date"></div>
                            </div>
                            <div class="media-body">
                            	<a href="javascript:;" data-ng-bind-html="item.title"></a>
                                <p data-ng-bind-html="item.article"></p>
                            </div>
                        </div>
                        <!--/ .media -->
                    </div>
                    <!--/ .panel-body -->
                </div>
                <!--/ .panel -->
            </div>
            <div class="green"></div>
        </div>
        <!--/ .row -->
    </div>
		<!--/ .container-fluid -->
</div>
<!--/ .main-container -->
<footer data-common-footer></footer>
<!--/ Footer -->
