<div class="login">
    <header>
        <a href="javascript:;" class="logo-header">ABC</a>
    </header>
    <!--/ Header -->
    <div class="main-container">
        <div class="form">
            <h1>LOGIN</h1>
            <form name="loginForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required data-ng-model="login.username" data-ng-class="{'error': login.submitted && (loginForm.username.$error.required || loginForm.password.$error.size)}" data-ng-focus="reset();" />
                </div>
                <!--/ .form-group -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required data-ng-model="login.password" data-ng-class="{'error': login.submitted && (loginForm.password.$error.required || loginForm.password.$error.size)}" data-ng-focus="reset();" />
                </div>
                <!--/ .form-group -->
                <div class="block">
                    <div class="checkbox">
                        <label class="checkbox">
                        	<input type="checkbox" />
                        	<span></span>
                        	Remember Me
                        </label>
                    </div>
                    <a href="javascript:;">
                        Forgot Password?
                    </a>
                </div>
                <!--/ .row -->
				<div class="message error-info" data-ng-messages="loginForm.$error" data-ng-show="login.submitted">
                    <p data-ng-message="required">Please enter Username and Password!</p>
                    <p data-ng-message="size">Username and Password mismatch. Try again!</p>
                </div>
                <!--/ .error-info -->
				<div class="form-group">
					<input type="submit" class="btn btn-primary btn-block" value="Login" data-ng-click="valdate();"/>
				</div>
				<!--/ .form-group -->
                <div class="block-register">
                	<a href="javascript:;">Don’t have an account?</a>
                </div>
            </form>
            <!--/ Form -->
        </div>
        <!--/ .login -->
    </div>
    <!--/ .main-container -->
    <footer>
        <a href="javascript:;" class="logo-footer">ABC</a>
        <p>Copyright © 2016 ABC, LLC. All rights reserved. By using this site, you agree to the <a href="javascript:;">Terms of Service</a> and <a href="javascript:;">Privacy Policy</a>.</p>
    </footer>
    <!--/ Footer -->
</div>