<header class="dashboard-header" data-common-header></header>
<!--/ Header -->
<div class="main-container">
	<ol class="breadcrumb">
    	<li><a href="#/Dashboard">Home</a></li>
        <li><a href="#/Trade">Trade</a></li>
        <li><a href="#/Letters_Of_Credit">Letters of Credit</a></li>
        <li class="active">New Letter of Credit</li>
    </ol>
    <!--/ .breadcrumb -->
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-md-12">
                <h2>New Letter of Credit</h2>
                <div class="well">
                	<ul class="nav nav-justified">
                    	<li data-ng-class="{'active': dataSet.Step === 1,'finished': dataSet.Step > 1}"><a href="javascript:;" data-ng-click="moveTo(1);">1. Amount</a></li>
                        <li data-ng-class="{'active': dataSet.Step === 2,'finished': dataSet.Step > 2}"><a href="javascript:;" data-ng-click="moveTo(2);">2. Source Account</a></li>
                        <li data-ng-class="{'active': dataSet.Step === 3,'finished': dataSet.Step > 3}"><a href="javascript:;" data-ng-click="moveTo(3);">3. Letter of Credit Details</a></li>
                        <li data-ng-class="{'active': dataSet.Step === 4,'finished': dataSet.Step > 4}"><a href="javascript:;" data-ng-click="moveTo(4);">4. Purchase Order Upload</a></li>
                        <li data-ng-class="{'active': dataSet.Step === 5,'finished': dataSet.Step > 5}"><a href="javascript:;" data-ng-click="moveTo(5);">5. Review </a></li>
                    </ul>
                    <!--/ .nav -->
                    <div class="nav-content content-amount" data-ng-show="dataSet.Step === 1;">
                    	<p>Please enter the amount and the currency you would like the letter of credit to be raised for:</p>
                        <div class="form-group">
                            <label for="value">Value</label>
                            <div class="input-group">
                            	<input type="text" class="form-control" id="value" data-ng-model="dataSet['Amount'].Value" data-format="number" data-ng-change="dataSet['Amount'].changed = true;" />
                            </div>
                        </div>
                        <!--/ .form-group -->
                        <div class="form-group last">
                            <label>Currency</label>
                            <div class="input-group">
                                <div class="form-control custom-dropdown" data-dropdown-select="dataSet['Amount'].Currency.selectOptions" data-dropdown-model="dataSet['Amount'].Currency.selectSelected" data-dropdown-item-label="text"></div>
                            </div>
                        </div>
                        <!--/ .form-group -->
                        <div class="button-group clearfix">
                        	<a href="javascript:;" class="btn btn-primary btn-next pull-right" data-ng-class="{'disabled': !dataSet['Amount'].Value || dataSet['Amount'].Currency.selectSelected.text === 'Please Select'}" data-ng-disabled="!dataSet['Amount'].Value || dataSet['Amount'].Value === '0' || dataSet['Amount'].Currency.selectSelected.text === 'Please Select'" data-ng-click="!dataSet['Amount'].Value || dataSet['Amount'].Value === '0' || dataSet['Amount'].Currency.selectSelected.text === 'Please Select' || amount_next()"><span class="icon icon-next">Next</span></a>
                        </div>
                        <!--/ .btn-group -->
                    </div>
                    <!--/ .nav-content -->
                    <div class="nav-content content-source-account" data-ng-show="dataSet.Step === 2;">
                    	<p>Select the source of funds to guarantee the letter of credit for {{dataSet['Amount'].Value | currency:'£':0}}:</p>
                        <div class="section section-guarantee">
                        	<div class="row">
                            	<div class="col-md-6">
                                	<div class="block">
                                    	<div class="heading">
                                    		<h6>Current Source Selections</h6>
                                        </div>
                                        <!--/ .heading -->
                                        <div class="bar-content">
                                        	<div class="percents clearfix">
                                            	<div data-ng-repeat="data in dataSet['Source Account']['Selections'].data | moveZeroToEnd:'value'" data-ng-style="{'width': (data.value/dataSet['Amount'].Value*100 | number: 0) + '%'}" data-ng-if="data.selected && !list_accounts_form.$error.amount">
                                                	<strong data-ng-bind-html="data.value | currency:'£':0"></strong>
                                                  <span ng-style="{'color': data.color}">({{data.value/dataSet['Amount'].Value*100 | number: 0}}%)</span>
                                                </div>
                                            </div>
                                            <div class="bar clearfix">
                                            	<div data-ng-repeat="data in dataSet['Source Account']['Selections'].data | moveZeroToEnd:'value'" data-ng-style="{'width': (data.value/dataSet['Amount'].Value*100 | number: 0) + '%','background-color': data.color}" data-ng-if="data.value/dataSet['Amount'].Value*100 && !list_accounts_form.$error.amount"></div>
                                            </div>
                                            <div class="facility clearfix">
                                            	<div data-ng-repeat="data in dataSet['Source Account']['Selections'].data | moveZeroToEnd:'value'" data-ng-style="{'width': (data.value/dataSet['Amount'].Value*100 | number: 0) + '%'}" data-ng-if="data.selected && !list_accounts_form.$error.amount">
																								<span ng-style="{'color': data.color}">{{data.idModified}}</span>
																								<a href="javascript:;" class="icon icon-remove" data-ng-click="deleteSelected(data)"></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                	<div class="block">
                                    	<div class="heading">
                                        	<a href="javascript:;" class="btn btn-default pull-right" data-ng-click="apply();">Apply</a>
                                    		<h6>RECOMMENDATION <a href="javascript:;" class="icon icon-help"  data-uib-popover="{{dataSet['Source Account']['Best Suggestion'].information}}" data-popover-trigger="mouseenter"></a></h6>
                                        </div>
                                        <!--/ .heading -->
                                        <div class="bar-content">
                                        	<div class="percents clearfix recommendation">
                                            	<div data-ng-repeat="data in dataSet['Source Account']['Best Suggestion'].data" data-ng-style="{'width': data.percentage*100 + '%'}">
                                                	<strong data-ng-bind-html="(data.percentage*dataSet['Amount'].Value) | currency:'£':0"></strong>
                                                    ({{data.percentage*100 | number:0}}%)
                                                </div>
                                            </div>
                                            <div class="bar clearfix">
                                            	<div data-ng-repeat="data in dataSet['Source Account']['Best Suggestion'].data" data-ng-style="{'width': data.percentage*100 + '%','background-color': data.color}"></div>
                                            </div>
                                            <div class="facility clearfix recommendation">
                                            	<div data-ng-repeat="data in dataSet['Source Account']['Best Suggestion'].data" data-ng-style="{'width': data.percentage*100 + '%'}">{{data.idModified}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ .row -->
                        </div>
                        <!--/ .section -->
                        <div class="list-group" data-ng-form="list_accounts_form">
                        	<h4>List of Accounts</h4>
                            <div class="row">
                            	<div class="col-md-3" data-ng-repeat="item in dataSet['Source Account']['List of Account']">
                                	<div class="list-group-item" data-ng-class="{'on': item.selected}">
                                    	<div class="block" data-ng-click="selectAccount(item);">
                                        	<a href="javascript:;" class="icon icon-remove" data-ng-click="deleteAccount(item);" data-stop-event="click"></a>
																					<h5>{{item.id}}</h5>
                                        	<h6 ng-style="{'border-bottom-color': item.color}">{{item.name}}</h6>

																					<!-- Available balance -->
																					<div class="row">
																						<div class="col-md-12" ng-class="{'divider': item.selected}">
																							<p class="col-md-7">Available Balance:</p>
																							<strong class="col-md-5" data-ng-bind-html="item.balance | currency:'£':0"></strong>
																						</div>
																					</div>

																					<!-- Remaining balance -->
																					<div class="row">
																						<div class="col-md-12 remaining-box">
																							<p class="col-md-7 remaining" data-ng-if="item.selected">Remaining Balance:</p>
																							<strong class="col-md-5" data-ng-if="item.selected" data-ng-bind-html="(item.balance - item.value) | currency:'£':0"></strong>
																						</div>
																					</div>
                                        </div>
																				<!-- end block -->
                                        <div class="form-group">
                                        	<input type="text" ng-disabled="!item.selected" class="form-control" name="{{item.name}}" data-ng-model="item.value" data-range="dataSet['Source Account']['List of Account']" data-maximum="{{dataSet['Amount'].Value}}" data-balance="{{item.balance}}" placeholder="Enter amount...." data-format-as-currency />
                                        </div>
                                    </div>
                                    <!--/ .list-group-item -->
                                </div>
                            </div>
                        </div>
                        <!--/ .list-group -->
                        <div class="button-group clearfix">
                        	<a href="javascript:;" class="btn btn-primary btn-back pull-left" data-ng-click="back();"><span class="icon icon-back">Back</span></a>
                            <a href="javascript:;" class="btn btn-primary btn-next pull-right" data-ng-class="{'disabled': count()}" data-ng-disabled="count()" data-ng-click="count() || confirm()"><span class="icon icon-next">Confirm</span></a>
                        </div>
                        <!--/ .btn-group -->
                    </div>
                    <!--/ .nav-content -->
                    <div class="nav-content content-credit-form" data-ng-show="dataSet.Step === 3;">
                    	<div class="heading clearfix">
                        	<h3 class="pull-left">New Letter of Credit: {{dataSet['Credit Form']['ID']}}</h3>
                            <i class="pull-left">All fields marked with <span class="required">*</span> are mandatory fileds and must be completed.</i>
                            <div class="link-group pull-right">
                            	<a href="javascript:;" data-ng-click="expand();">Expand All</a>
                                <a href="javascript:;" data-ng-click="collpase();">Collpase All</a>
                            </div>
                        </div>
                        <!--/ .heading -->
                        <div class="panel" data-ng-class="{'on': dataSet['Credit Form']['Applicant Info'].expand}">
                        	<div class="panel-heading">
                                <h4 class="icon icon-accordion" data-ng-click="dataSet['Credit Form']['Applicant Info'].expand = !dataSet['Credit Form']['Applicant Info'].expand">1. Applicant Info</h4>
                                <span class="icon icon-checked" data-ng-class="{'active': applicant_info_form.$valid}"></span>
                            </div>
                            <!--/ .panel-heading -->
                            <div class="panel-body" data-ng-form="applicant_info_form">
                            	<div class="form-group">
                                	<label for="application_name"><span class="required">*</span>Applicant Name:</label>
                                    <div class="input-group input-group-icon">
                                    	<input type="text" class="form-control" name="application_name" id="application_name" data-ng-model="dataSet['Credit Form']['Applicant Info']['Applicant Name'].value" data-ng-required="dataSet['Credit Form']['Applicant Info']['Applicant Name'].required" data-ng-class="{'error': applicant_info_form.application_name.$error.required && applicant_info_form.application_name.$touched}" />
                                    </div>
                                    <a href="javascript:;" class="icon icon-help" data-uib-popover="{{dataSet['Credit Form']['Applicant Info']['Applicant Name'].information}}" data-popover-trigger="mouseenter"></a>
                                    <div class="message" data-ng-messages="applicant_info_form.application_name.$error" data-ng-if="applicant_info_form.application_name.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>

                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="address_line_1"><span class="required">*</span>Address Line 1:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="address_line_1" id="address_line_1" data-ng-model="dataSet['Credit Form']['Applicant Info']['Address Line 1'].value" data-ng-required="dataSet['Credit Form']['Applicant Info']['Address Line 1'].required" data-ng-class="{'error': (applicant_info_form.address_line_1.$error.required || applicant_info_form.address_line_1.$error.pattern) && applicant_info_form.address_line_1.$touched}" data-ng-pattern="/^[^/]+$/" />
                                    </div>
                                    <div class="message" data-ng-messages="applicant_info_form.address_line_1.$error" data-ng-if="applicant_info_form.address_line_1.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Address.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="address_line_2"><span class="required">*</span>Address Line 2:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="address_line_2" id="address_line_2" data-ng-model="dataSet['Credit Form']['Applicant Info']['Address Line 2'].value" data-ng-required="dataSet['Credit Form']['Applicant Info']['Address Line 2'].required" data-ng-class="{'error': (applicant_info_form.address_line_2.$error.required || applicant_info_form.address_line_2.$error.pattern) && applicant_info_form.address_line_2.$touched}" data-ng-pattern="/^[^/]+$/" />
                                    </div>
                                    <div class="message" data-ng-messages="applicant_info_form.address_line_2.$error" data-ng-if="applicant_info_form.address_line_2.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Address.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="address_line_3">Address Line 3:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="address_line_3" id="address_line_3" data-ng-model="dataSet['Credit Form']['Applicant Info']['Address Line 3'].value" data-ng-required="dataSet['Credit Form']['Applicant Info']['Address Line 3'].required" data-ng-class="{'error': (applicant_info_form.address_line_3.$error.required || applicant_info_form.address_line_3.$error.pattern) && applicant_info_form.address_line_3.$touched}" data-ng-pattern="/^[^/]+$/" />
                                    </div>
                                    <div class="message" data-ng-messages="applicant_info_form.address_line_3.$error" data-ng-if="applicant_info_form.address_line_3.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Address.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="country"><span class="required">*</span>Country:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="country" id="country" data-ng-model="dataSet['Credit Form']['Applicant Info']['Country'].value" data-ng-required="dataSet['Credit Form']['Applicant Info']['Country'].required" data-ng-class="{'error': applicant_info_form.country.$error.required && applicant_info_form.country.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="applicant_info_form.country.$error" data-ng-if="applicant_info_form.country.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                            </div>
                            <!--/ .panel-body -->
                        </div>
                        <!--/. panel -->
                        <div class="panel" data-ng-class="{'on': dataSet['Credit Form']['Credit Info'].expand}">
                        	<div class="panel-heading">
                                <h4 class="icon icon-accordion" data-ng-click="dataSet['Credit Form']['Credit Info'].expand = !dataSet['Credit Form']['Credit Info'].expand">2. Credit Info</h4>
                                <span class="icon icon-checked" data-ng-class="{'active': credit_info_form.$valid && dataSet['Credit Form']['Credit Info']['Amount Tolerance'].selectSelected.text !== 'Please Select'}"></span>
                            </div>
                            <!--/ .panel-heading -->
                            <div class="panel-body" data-ng-form="credit_info_form">
                            	<div class="form-group currency">
                                	<label for="currency"><span class="required">*</span>Currency:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="currency" id="currency" data-ng-model="dataSet['Credit Form']['Credit Info']['Currency'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Currency'].required" data-ng-class="{'error': credit_info_form.currency.$error.required && credit_info_form.currency.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="credit_info_form.currency.$error" data-ng-if="credit_info_form.currency.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group currency">
                                	<label for="amount"><span class="required">*</span>Amount:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="amount" id="amount" data-ng-model="dataSet['Credit Form']['Credit Info']['Amount'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Amount'].required" data-ng-class="{'error': credit_info_form.amount.$error.required && credit_info_form.amount.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="credit_info_form.amount.$error" data-ng-if="credit_info_form.amount.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group currency">
                                	<label for="confirm_amount"><span class="required">*</span>Confirm Amount:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="confirm_amount" id="confirm_amount" data-ng-model="dataSet['Credit Form']['Credit Info']['Confirm Amount'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Confirm Amount'].required" data-ng-class="{'error': credit_info_form.confirm_amount.$error.required && credit_info_form.confirm_amount.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="credit_info_form.confirm_amount.$error" data-ng-if="credit_info_form.confirm_amount.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="amount_in_words">Amount(in words):</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="amount_in_words" id="amount_in_words" data-ng-model="dataSet['Credit Form']['Credit Info']['Amount In Word'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Amount In Word'].required" data-ng-class="{'error': credit_info_form.amount_in_words.$error.required && credit_info_form.amount_in_words.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="credit_info_form.amount_in_words.$error" data-ng-if="credit_info_form.amount_in_words.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label><span class="required">*</span>Amount Tolerance:</label>
                                    <div class="input-group input-group-sm-select">
                                    	<div class="form-control custom-dropdown" data-dropdown-select="dataSet['Credit Form']['Credit Info']['Amount Tolerance'].selectOptions" data-dropdown-model="dataSet['Credit Form']['Credit Info']['Amount Tolerance'].selectSelected" data-dropdown-item-label="text" data-ng-blur="dataSet['Credit Form']['Credit Info']['Amount Tolerance'].touched = true;" data-ng-class="{'error': dataSet['Credit Form']['Credit Info']['Amount Tolerance'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Credit Info']['Amount Tolerance'].touched}"></div>
                                    </div>
                                    <div class="message" data-ng-if="dataSet['Credit Form']['Credit Info']['Amount Tolerance'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Credit Info']['Amount Tolerance'].touched">
                                        <p>Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="advising_bank_name">Advising Bank Name:</label>
                                    <div class="input-group input-group-icon">
                                    	<input type="text" class="form-control" name="advising_bank_name" id="advising_bank_name" data-ng-model="dataSet['Credit Form']['Credit Info']['Advising Bank Name'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Advising Bank Name'].required" data-ng-class="{'error': credit_info_form.advising_bank_name.$error.required && credit_info_form.advising_bank_name.$touched}" />
                                    </div>
                                    <a href="javascript:;" class="icon icon-help" data-uib-popover="{{dataSet['Credit Form']['Credit Info']['Advising Bank Name'].information}}" data-popover-trigger="mouseenter"></a>
                                    <div class="message" data-ng-messages="credit_info_form.advising_bank_name.$error" data-ng-if="credit_info_form.advising_bank_name.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="swift_address">Swift Address:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="swift_address" id="swift_address" data-ng-model="dataSet['Credit Form']['Credit Info']['Swift Address'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Swift Address'].required" data-ng-class="{'error': credit_info_form.swift_address.$error.required && credit_info_form.swift_address.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="credit_info_form.swift_address.$error" data-ng-if="credit_info_form.swift_address.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="credit_address_line_1">Address Line 1:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="credit_address_line_1" id="credit_address_line_1" data-ng-model="dataSet['Credit Form']['Credit Info']['Address Line 1'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Address Line 1'].required" data-ng-class="{'error': (credit_info_form.credit_address_line_1.$error.required || credit_info_form.credit_address_line_1.$error.pattern) && credit_info_form.credit_address_line_1.$touched}" data-ng-pattern="/^[^/]+$/" />
                                    </div>
                                    <div class="message" data-ng-messages="credit_info_form.credit_address_line_1.$error" data-ng-if="credit_info_form.credit_address_line_1.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Address.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="credit_address_line_2">Address Line 2:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="credit_address_line_2" id="credit_address_line_2" data-ng-model="dataSet['Credit Form']['Credit Info']['Address Line 2'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Address Line 2'].required" data-ng-class="{'error': (credit_info_form.credit_address_line_2.$error.required || credit_info_form.credit_address_line_2.$error.pattern) && credit_info_form.credit_address_line_2.$touched}" data-ng-pattern="/^[^/]+$/" />
                                    </div>
                                    <div class="message" data-ng-messages="credit_info_form.credit_address_line_2.$error" data-ng-if="credit_info_form.credit_address_line_2.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Address.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="credit_address_line_3">Address Line 3:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="credit_address_line_3" id="credit_address_line_3" data-ng-model="dataSet['Credit Form']['Credit Info']['Address Line 3'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Address Line 3'].required" data-ng-class="{'error': (credit_info_form.credit_address_line_3.$error.required || credit_info_form.credit_address_line_3.$error.pattern) && credit_info_form.credit_address_line_3.$touched}" data-ng-pattern="/^[^/]+$/" />
                                    </div>
                                    <div class="message" data-ng-messages="credit_info_form.credit_address_line_3.$error" data-ng-if="credit_info_form.credit_address_line_3.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Address.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <p class="note">Please include “City” in the address field where known.</p>
                                <div class="form-group">
                                	<label for="credit_country"><span class="required">*</span>Country:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="credit_country" id="credit_country" data-ng-model="dataSet['Credit Form']['Credit Info']['Country'].value" data-ng-required="dataSet['Credit Form']['Credit Info']['Country'].required" data-ng-class="{'error': credit_info_form.credit_country.$error.required && credit_info_form.credit_country.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="credit_info_form.credit_country.$error" data-ng-if="credit_info_form.credit_country.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <p class="note last">Notwithstanding the bank information supplied above Barclays reserves the right to arrange delivery of the LC to the beneficiary via its own
offices or preferred correspondent bank.</p>
                            </div>
                            <!--/ .panel-body -->
                        </div>
                        <!--/. panel -->
                        <div class="panel" data-ng-class="{'on': dataSet['Credit Form']['Submission Details'].expand}">
                        	<div class="panel-heading">
                                <h4 class="icon icon-accordion" data-ng-click="dataSet['Credit Form']['Submission Details'].expand = !dataSet['Credit Form']['Submission Details'].expand">3. Submission Details</h4>
                                <span class="icon icon-checked" data-ng-class="{'active': submission_details_form.$valid && dataSet['Credit Form']['Submission Details']['Method of Submission'].selectSelected.text !== 'Please Select' && dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Unconfirmed'].name &&  dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Transferable'].name}"></span>
                            </div>
                            <!--/ .panel-heading -->
                            <div class="panel-body" data-ng-form="submission_details_form">
                            	<div class="clearfix">
                                    <div class="form-group inline">
                                        <label for="data_of_submission"><span class="required">*</span>Date of Submission:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-date" name="data_of_submission" id="data_of_submission" readonly="readonly" data-ng-model="dataSet['Credit Form']['Submission Details']['Date of Submission'].value" data-ng-required="dataSet['Credit Form']['Submission Details']['Date of Submission'].required" data-ng-class="{'error': submission_details_form.data_of_submission.$error.required && submission_details_form.data_of_submission.$touched}" data-uib-datepicker-popup="dd.MM.yyyy" data-is-open="dataSet['Credit Form']['Submission Details']['Date of Submission'].opened" data-datepicker-options="dateOptions" placeholder="dd/mm/yyyy" />
                                            <a href="javascript:;" class="icon icon-calendar" data-ng-click="openDatepicker(dataSet['Credit Form']['Submission Details']['Date of Submission']);"></a>
                                        </div>
                                    </div>
                                    <!--/ .form-group -->
                                    <div class="form-group inline last">
                                        <label><span class="required">*</span>Method of Submission:</label>
                                        <div class="input-group">
                                            <div class="form-control custom-dropdown" data-dropdown-select="dataSet['Credit Form']['Submission Details']['Method of Submission'].selectOptions" data-dropdown-model="dataSet['Credit Form']['Submission Details']['Method of Submission'].selectSelected" data-dropdown-item-label="text" data-ng-blur="dataSet['Credit Form']['Submission Details']['Method of Submission'].touched = true;" data-ng-class="{'error': dataSet['Credit Form']['Submission Details']['Method of Submission'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Submission Details']['Method of Submission'].touched}"></div>
                                        </div>
                                        <a href="javascript:;" class="icon icon-help" data-uib-popover="{{dataSet['Credit Form']['Submission Details']['Method of Submission'].information}}" data-popover-trigger="mouseenter"></a>
                                        <div class="message" data-ng-if="dataSet['Credit Form']['Submission Details']['Method of Submission'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Submission Details']['Method of Submission'].touched">
                                            <p>Required Field.</p>
                                        </div>
                                    </div>
                                    <!--/ .form-group -->
                                </div>
                                <div class="form-group">
                                	<label for="applicant_reference"><span class="required">*</span>Applicant Reference:</label>
                                    <div class="input-group input-group-icon">
                                    	<input type="text" class="form-control" name="applicant_reference" id="applicant_reference" data-ng-model="dataSet['Credit Form']['Submission Details']['Applicant Reference'].value" data-ng-required="dataSet['Credit Form']['Submission Details']['Applicant Reference'].required" data-ng-class="{'error': submission_details_form.applicant_reference.$error.required && submission_details_form.applicant_reference.$touched}" />
                                    </div>
                                    <a href="javascript:;" class="icon icon-help" data-uib-popover="{{dataSet['Credit Form']['Submission Details']['Applicant Reference'].information}}" data-popover-trigger="mouseenter"></a>
                                    <div class="message" data-ng-messages="submission_details_form.applicant_reference.$error" data-ng-if="submission_details_form.applicant_reference.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="telephone"><span class="required">*</span>Telephone:</label>
                                    <div class="input-group">
                                    	<input type="tel" class="form-control" name="telephone" id="telephone" data-ng-model="dataSet['Credit Form']['Submission Details']['Telephone'].value" data-ng-required="dataSet['Credit Form']['Submission Details']['Telephone'].required" data-ng-class="{'error': submission_details_form.telephone.$error.required && submission_details_form.telephone.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="submission_details_form.telephone.$error" data-ng-if="submission_details_form.telephone.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="fax">Fax:</label>
                                    <div class="input-group">
                                    	<input type="tel" class="form-control" name="fax" id="fax" data-ng-model="dataSet['Credit Form']['Submission Details']['Fax'].value" data-ng-required="dataSet['Credit Form']['Submission Details']['Fax'].required" data-ng-class="{'error': submission_details_form.fax.$error.required && submission_details_form.fax.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="submission_details_form.fax.$error" data-ng-if="submission_details_form.fax.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="contact_name"><span class="required">*</span>Contact Name:</label>
                                    <div class="input-group input-group-icon">
                                    	<input type="tel" class="form-control" name="contact_name" id="contact_name" data-ng-model="dataSet['Credit Form']['Submission Details']['Contact Name'].value" data-ng-required="dataSet['Credit Form']['Submission Details']['Contact Name'].required" data-ng-class="{'error': submission_details_form.contact_name.$error.required && submission_details_form.contact_name.$touched}" />
                                    </div>
                                    <a href="javascript:;" class="icon icon-help" data-uib-popover="{{dataSet['Credit Form']['Submission Details']['Contact Name'].information}}" data-popover-trigger="mouseenter"></a>
                                    <div class="message" data-ng-messages="submission_details_form.contact_name.$error" data-ng-if="submission_details_form.contact_name.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="email_address">Email Address:</label>
                                    <div class="input-group">
                                    	<input type="email" class="form-control" name="email_address" id="email_address" data-ng-model="dataSet['Credit Form']['Submission Details']['Email Address'].value" data-ng-required="dataSet['Credit Form']['Submission Details']['Email Address'].required" data-ng-class="{'error': (submission_details_form.email_address.$error.required || submission_details_form.email_address.$error.pattern) && submission_details_form.email_address.$touched}" data-ng-pattern="/\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/" />
                                    </div>
                                    <div class="message" data-ng-messages="submission_details_form.email_address.$error" data-ng-if="submission_details_form.email_address.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Email.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<span class="is-label"><span class="required">*</span>Type of Irrevocable Letter of Credit:</span>
                                    <div class="radio-group clearfix" data-ng-mouseout="dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit'].touched = true;">
                                    	<div class="radio-control" data-ng-class="{'error': !dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Unconfirmed'].name && dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit'].touched}">
                                        	<label class="radio">
                                            	<input type="radio" name="confirmed" value="unconfirmed" data-ng-model="dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Unconfirmed'].name" />
                                                <span></span>
                                                Unconfirmed
                                                <a href="javascript:;" class="icon icon-help icon-help-sm" data-uib-popover="{{dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Unconfirmed'].information}}" data-popover-trigger="mouseenter"></a>
                                            </label>
                                            <label class="radio">
                                            	<input type="radio" name="confirmed" value="Confirmed" data-ng-model="dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Unconfirmed'].name" />
                                                <span></span>
                                                Confirmed
                                            </label>
                                        </div>
                                        <!--/ .radio-control -->
                                        <div class="radio-control" data-ng-class="{'error': !dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Transferable'].name && dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit'].touched}">
                                        	<label class="radio">
                                            	<input type="radio" name="transferable" value="Transferable" data-ng-model="dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Transferable'].name" />
                                                <span></span>
                                                Transferable
                                                <a href="javascript:;" class="icon icon-help icon-help-sm" data-uib-popover="{{dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Transferable'].information}}" data-popover-trigger="mouseenter"></a>
                                            </label>
                                            <label class="radio">
                                            	<input type="radio" name="transferable" value="Non-transferable" data-ng-model="dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Transferable'].name" />
                                                <span></span>
                                                Non-transferable
                                            </label>
                                        </div>
                                        <!--/ .radio-control -->
                                        <div class="message" data-ng-if="(!dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Unconfirmed'].name || !dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Transferable'].name) && dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit'].touched">
                                            <p>Required Field.</p>
                                        </div>
                                    </div>
                                    <!--/ .radio-group -->
                                </div>
                                <!--/ .form-group -->
                            </div>
                            <!--/ .panel-body -->
                        </div>
                        <!--/. panel -->
                        <div class="panel" data-ng-class="{'on': dataSet['Credit Form']['Beneficiary Info'].expand}">
                        	<div class="panel-heading">
                                <h4 class="icon icon-accordion" data-ng-click="dataSet['Credit Form']['Beneficiary Info'].expand = !dataSet['Credit Form']['Beneficiary Info'].expand">4. Beneficiary Info</h4>
                                <span class="icon icon-checked" data-ng-class="{'active': beneficiary_info_form.$valid}"></span>
                            </div>
                            <!--/ .panel-heading -->
                            <div class="panel-body" data-ng-form="beneficiary_info_form">
                            	<div class="form-group">
                                	<label for="beneficiary_name"><span class="required">*</span>Beneficiary Name:</label>
                                    <div class="input-group input-group-icon">
                                    	<input type="text" class="form-control" name="beneficiary_name" id="beneficiary_name" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Beneficiary Name'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Beneficiary Name'].required" data-ng-class="{'error': beneficiary_info_form.beneficiary_name.$error.required && beneficiary_info_form.beneficiary_name.$touched}" />
                                    </div>
                                    <a href="javascript:;" class="icon icon-help" data-uib-popover="{{dataSet['Credit Form']['Beneficiary Info']['Beneficiary Name'].information}}" data-popover-trigger="mouseenter"></a>
                                    <div class="message" data-ng-messages="beneficiary_info_form.beneficiary_name.$error" data-ng-if="beneficiary_info_form.beneficiary_name.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group currency">
                                	<label for="beneficiary_amount"><span class="required">*</span>Amount:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="beneficiary_amount" id="beneficiary_amount" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Amount'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Amount'].required" data-ng-class="{'error': beneficiary_info_form.beneficiary_amount.$error.required && beneficiary_info_form.beneficiary_amount.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="beneficiary_info_form.beneficiary_amount.$error" data-ng-if="beneficiary_info_form.beneficiary_amount.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="beneficiary_address_line_1"><span class="required">*</span>Address Line 1:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="beneficiary_address_line_1" id="beneficiary_address_line_1" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Address Line 1'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Address Line 1'].required" data-ng-class="{'error': (beneficiary_info_form.beneficiary_address_line_1.$error.required || beneficiary_info_form.beneficiary_address_line_1.$error.pattern) && beneficiary_info_form.beneficiary_address_line_1.$touched}" data-ng-pattern="/^[^/]+$/" />
                                    </div>
                                    <div class="message" data-ng-messages="beneficiary_info_form.beneficiary_address_line_1.$error" data-ng-if="beneficiary_info_form.beneficiary_address_line_1.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Address.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="beneficiary_address_line_2"><span class="required">*</span>Address Line 2:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="beneficiary_address_line_2" id="beneficiary_address_line_2" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Address Line 2'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Address Line 2'].required" data-ng-class="{'error': (beneficiary_info_form.beneficiary_address_line_2.$error.required || beneficiary_info_form.beneficiary_address_line_2.$error.pattern) && beneficiary_info_form.beneficiary_address_line_2.$touched}" data-ng-pattern="/^[^/]+$/" />
                                    </div>
                                    <div class="message" data-ng-messages="beneficiary_info_form.beneficiary_address_line_2.$error" data-ng-if="beneficiary_info_form.beneficiary_address_line_2.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Address.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="beneficiary_address_line_3">Address Line 3:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="beneficiary_address_line_3" id="beneficiary_address_line_3" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Address Line 3'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Address Line 3'].required" data-ng-class="{'error': (beneficiary_info_form.beneficiary_address_line_3.$error.required || beneficiary_info_form.beneficiary_address_line_3.$error.pattern) && beneficiary_info_form.beneficiary_address_line_3.$touched}" data-ng-pattern="/^[^/]+$/" />
                                    </div>
                                    <div class="message" data-ng-messages="beneficiary_info_form.beneficiary_address_line_3.$error" data-ng-if="beneficiary_info_form.beneficiary_address_line_3.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                        <p data-ng-message="pattern">Invalid Address.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="beneficiary_country"><span class="required">*</span>Country:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="beneficiary_country" id="beneficiary_country" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Country'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Country'].required" data-ng-class="{'error': beneficiary_info_form.beneficiary_country.$error.required && beneficiary_info_form.beneficiary_country.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="beneficiary_info_form.beneficiary_country.$error" data-ng-if="beneficiary_info_form.beneficiary_country.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="beneficiary_contact_name">Contact Name:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="beneficiary_contact_name" id="beneficiary_contact_name" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Contact Name'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Contact Name'].required" data-ng-class="{'error': beneficiary_info_form.beneficiary_contact_name.$error.required && beneficiary_info_form.beneficiary_contact_name.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="beneficiary_info_form.beneficiary_contact_name.$error" data-ng-if="beneficiary_info_form.beneficiary_contact_name.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="account_nember">Account Number:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="account_nember" id="account_nember" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Account Number'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Account Number'].required" data-ng-class="{'error': beneficiary_info_form.account_nember.$error.required && beneficiary_info_form.account_nember.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="beneficiary_info_form.account_nember.$error" data-ng-show="beneficiary_info_form.account_nember.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="beneficiary_telephone"><span class="required">*</span>Telephone:</label>
                                    <div class="input-group">
                                    	<input type="tel" class="form-control" name="beneficiary_telephone" id="beneficiary_telephone" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Telephone'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Telephone'].required" data-ng-class="{'error': beneficiary_info_form.beneficiary_telephone.$error.required && beneficiary_info_form.beneficiary_telephone.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="beneficiary_info_form.beneficiary_telephone.$error" data-ng-if="beneficiary_info_form.beneficiary_telephone.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="beneficiary_fax">Fax:</label>
                                    <div class="input-group">
                                    	<input type="tel" class="form-control" name="beneficiary_fax" id="beneficiary_fax" data-ng-model="dataSet['Credit Form']['Beneficiary Info']['Fax'].value" data-ng-required="dataSet['Credit Form']['Beneficiary Info']['Fax'].required" data-ng-class="{'error': beneficiary_info_form.beneficiary_fax.$error.required && beneficiary_info_form.beneficiary_fax.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="beneficiary_info_form.beneficiary_fax.$error" data-ng-if="beneficiary_info_form.beneficiary_fax.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                            </div>
                            <!--/ .panel-body -->
                        </div>
                        <!--/. panel -->
                        <div class="panel" data-ng-class="{'on': dataSet['Credit Form']['Shipment Details'].expand}">
                        	<div class="panel-heading">
                                <h4 class="icon icon-accordion" data-ng-click="dataSet['Credit Form']['Shipment Details'].expand = !dataSet['Credit Form']['Shipment Details'].expand">5. Shipment Details</h4>
                                <span class="icon icon-checked" data-ng-class="{'active': shipment_details_form.$valid && dataSet['Credit Form']['Shipment Details']['Part-shipment'].selectSelected.text !== 'Please Select' && dataSet['Credit Form']['Shipment Details']['Payment Terms'].selectSelected.text !== 'Please Select' && dataSet['Credit Form']['Shipment Details']['Transhipment'].selectSelected.text !== 'Please Select'}"></span>
                            </div>
                            <!--/ .panel-heading -->
                            <div class="panel-body" data-ng-form="shipment_details_form">
                            	<div class="clearfix">
                                    <div class="form-group inline">
                                        <label for="latest_shipment_date"><span class="required">*</span>Latest Shipment Date:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-date" name="latest_shipment_date" id="latest_shipment_date" readonly="readonly" data-ng-model="dataSet['Credit Form']['Shipment Details']['Latest Shipment Date'].value" data-ng-required="dataSet['Credit Form']['Shipment Details']['Latest Shipment Date'].required" data-ng-class="{'error': shipment_details_form.latest_shipment_date.$error.required && shipment_details_form.latest_shipment_date.$touched}" data-uib-datepicker-popup="dd.MM.yyyy" data-is-open="dataSet['Credit Form']['Shipment Details']['Latest Shipment Date'].opened" data-datepicker-options="dateOptions" placeholder="dd/mm/yyyy" />
                                            <a href="javascript:;" class="icon icon-calendar" data-ng-click="openDatepicker(dataSet['Credit Form']['Shipment Details']['Latest Shipment Date']);"></a>
                                        </div>
                                    </div>
                                    <!--/ .form-group -->
                                </div>
                                <div class="clearfix">
                                    <div class="form-group inline">
                                        <label for="expiry_date">Expiry Date:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-date" name="expiry_date" id="expiry_date" readonly="readonly" data-ng-model="dataSet['Credit Form']['Shipment Details']['Expiry Date'].value" data-ng-required="dataSet['Credit Form']['Shipment Details']['Expiry Date'].required" data-ng-class="{'error': shipment_details_form.expiry_date.$error.required && shipment_details_form.expiry_date.$touched}" data-uib-datepicker-popup="dd.MM.yyyy" data-is-open="dataSet['Credit Form']['Shipment Details']['Expiry Date'].opened" data-datepicker-options="dateOptions" placeholder="dd/mm/yyyy" />
                                            <a href="javascript:;" class="icon icon-calendar" data-ng-click="openDatepicker(dataSet['Credit Form']['Shipment Details']['Expiry Date']);"></a>
                                        </div>
                                    </div>
                                    <!--/ .form-group -->
                                </div>
                                <div class="form-group form-group-first">
                                	<label><span class="required">*</span>Part-shipment:</label>
                                    <div class="input-group input-group-md-select">
                                        <div class="form-control custom-dropdown" data-dropdown-select="dataSet['Credit Form']['Shipment Details']['Part-shipment'].selectOptions" data-dropdown-model="dataSet['Credit Form']['Shipment Details']['Part-shipment'].selectSelected" data-dropdown-item-label="text" data-ng-required="dataSet['Credit Form']['Shipment Details']['Part-shipment'].required"  data-ng-blur="dataSet['Credit Form']['Shipment Details']['Part-shipment'].touched = true;" data-ng-class="{'error': dataSet['Credit Form']['Shipment Details']['Part-shipment'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Shipment Details']['Part-shipment'].touched}"></div>
                                    </div>
                                    <div class="message" data-ng-if="dataSet['Credit Form']['Shipment Details']['Part-shipment'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Shipment Details']['Part-shipment'].touched">
                                        <p>Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group form-group-second">
                                	<label><span class="required">*</span>Payment Terms:</label>
                                    <div class="input-group input-group-md-select">
                                        <div class="form-control custom-dropdown" data-dropdown-select="dataSet['Credit Form']['Shipment Details']['Payment Terms'].selectOptions" data-dropdown-model="dataSet['Credit Form']['Shipment Details']['Payment Terms'].selectSelected" data-dropdown-item-label="text" data-ng-blur="dataSet['Credit Form']['Shipment Details']['Payment Terms'].touched = true;" data-ng-class="{'error': dataSet['Credit Form']['Shipment Details']['Payment Terms'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Shipment Details']['Payment Terms'].touched}"></div>
                                    </div>
                                    <div class="message" data-ng-if="dataSet['Credit Form']['Shipment Details']['Payment Terms'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Shipment Details']['Payment Terms'].touched">
                                        <p>Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="percent_of_invoice_value"><span class="required">*</span>% of Invoice Value:</label>
                                    <div class="input-group input-group-md-select">
                                        <input type="text" class="form-control" name="percent_of_invoice_value" id="percent_of_invoice_value" data-ng-model="dataSet['Credit Form']['Shipment Details']['Invoice Value'].value" data-ng-required="dataSet['Credit Form']['Shipment Details']['Invoice Value'].required" data-ng-class="{'error': shipment_details_form.percent_of_invoice_value.$error.required && shipment_details_form.percent_of_invoice_value.$touched}" />
                                        <span class="suffix">%</span>
                                    </div>
                                    <div class="message" data-ng-messages="shipment_details_form.percent_of_invoice_value.$error" data-ng-if="shipment_details_form.percent_of_invoice_value.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<div class="input-group input-group-inline">Documents to be presented within <span class="required">*</span><input type="text" class="form-control" name="days" id="days" data-ng-model="dataSet['Credit Form']['Shipment Details']['Days'].value" data-ng-required="dataSet['Credit Form']['Shipment Details']['Days'].required" data-ng-class="{'error': shipment_details_form.days.$error.required && shipment_details_form.days.$touched}" /> days of shipment but within the validity of credit.</div>
                                    <div class="message" data-ng-messages="shipment_details_form.days.$error" data-ng-if="shipment_details_form.days.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label for="place_of_expiry"><span class="required">*</span>Place of Expiry:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" name="place_of_expiry" id="place_of_expiry" data-ng-model="dataSet['Credit Form']['Shipment Details']['Place of Expiry'].value" data-ng-required="dataSet['Credit Form']['Shipment Details']['Place of Expiry'].required" data-ng-class="{'error': shipment_details_form.place_of_expiry.$error.required && shipment_details_form.place_of_expiry.$touched}" />
                                    </div>
                                    <div class="message" data-ng-messages="shipment_details_form.place_of_expiry.$error" data-ng-if="shipment_details_form.place_of_expiry.$touched">
                                        <p data-ng-message="required">Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="form-group">
                                	<label><span class="required">*</span>Transhipment:</label>
                                    <div class="input-group input-group-md-select">
                                        <div class="form-control custom-dropdown" data-dropdown-select="dataSet['Credit Form']['Shipment Details']['Transhipment'].selectOptions" data-dropdown-model="dataSet['Credit Form']['Shipment Details']['Transhipment'].selectSelected" data-dropdown-item-label="text" data-ng-blur="dataSet['Credit Form']['Shipment Details']['Transhipment'].touched = true;" data-ng-class="{'error': dataSet['Credit Form']['Shipment Details']['Transhipment'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Shipment Details']['Transhipment'].touched}"></div>
                                    </div>
                                    <div class="message" data-ng-if="dataSet['Credit Form']['Shipment Details']['Transhipment'].selectSelected.text === 'Please Select' && dataSet['Credit Form']['Shipment Details']['Transhipment'].touched">
                                        <p>Required Field.</p>
                                    </div>
                                </div>
                                <!--/ .form-group -->
                            </div>
                            <!--/ .panel-body -->
                        </div>
                        <!--/. panel -->
                        <div class="button-group clearfix">
                        	<a href="javascript:;" class="btn btn-primary btn-back pull-left" data-ng-click="back();"><span class="icon icon-back">Back</span></a>
                            <a href="javascript:;" class="btn btn-primary btn-submit-review pull-right" data-ng-class="{'disabled': !(applicant_info_form.$valid && credit_info_form.$valid && submission_details_form.$valid && beneficiary_info_form.$valid && shipment_details_form.$valid && dataSet['Credit Form']['Credit Info']['Amount Tolerance'].selectSelected.text !== 'Please Select' && dataSet['Credit Form']['Submission Details']['Method of Submission'].selectSelected.text !== 'Please Select' && dataSet['Credit Form']['Shipment Details']['Part-shipment'].selectSelected.text !== 'Please Select' && dataSet['Credit Form']['Shipment Details']['Payment Terms'].selectSelected.text !== 'Please Select' && dataSet['Credit Form']['Shipment Details']['Transhipment'].selectSelected.text !== 'Please Select' && dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Unconfirmed'].name && dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Transferable'].name)}" data-ng-click="submitReview();"><span class="icon icon-next">Submit for Review</span></a>
                            <a href="javascript:;" class="btn btn-default btn-save-later">Save for Later</a>
                        </div>
                        <!--/ .btn-group -->
                    </div>
                    <!--/ .nav-content -->
                    <div class="nav-content content-upload" data-ng-show="dataSet.Step === 4;">
                    	<div class="section">
                            <div class="well">
                            	<div class="icon">
                                    <p class="icon">Good job!</p>
                                    <p>All Letter of Credit Form details are now complete</p>
                                </div>
                            </div>
                            <!--/ .well -->
                            <div class="well last">
                            	<h3>A Purchase Order (PO)* is required to authorise this transaction.</h3>
                                <p>Please upload a PO and any additional documentation relevant to authorise the transaction.</p>
                                <i class="note">*A purchase order is a commercial document issued by a buyer to a seller, indicating types, quantities, and agreed prices for products or services. </i>
                                <div class="form-group">
                                	<label><span class="required">*</span>Upload PDF:</label>
                                    <div class="input-group">
                                    	<input type="text" class="form-control" data-ng-model="$flow.files[0].name" readonly="readonly" />
                                    </div>
                                </div>
                                <!--/ .form-group -->
                                <div class="button-group">
                                	<a href="javascript:;" class="btn btn-default" data-flow-btn>Browse</a>
                                    <a href="javascript:;" class="btn btn-primary">Upload</a>
                                </div>
                                <!--/ .button-group -->
                            </div>
                            <!--/ .well -->
                        </div>
                        <!--/ .section -->
                        <div class="button-group clearfix">
                        	<a href="javascript:;" class="btn btn-primary btn-back pull-left" data-ng-click="back();"><span class="icon icon-back">Back</span></a>
							<a href="javascript:;" class="btn btn-default btn-save-later">Save for Later</a>
                            <a href="javascript:;" class="btn btn-primary btn-next pull-right" data-ng-class="{'disabled': !$flow.files[0].name}" data-ng-disabled="!$flow.files[0].name" data-ng-click="!$flow.files[0].name || next()"><span class="icon icon-next">Confirm</span></a>
                        </div>
                        <!--/ .btn-group -->
                    </div>
                    <!--/ .nav-content -->
                    <div class="nav-content content-review" data-ng-show="dataSet.Step === 5;">
                    	<div class="container-fluid">
                        	<div class="row">
                            	<div class="col-md-6">
                                	<div class="block">
                                    	<h3>1. Applicant Info</h3>
                                        <dl data-ng-if="dataSet['Credit Form']['Applicant Info']['Applicant Name'].value">
                                        	<dt>Applicant Name:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Applicant Info']['Applicant Name'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Applicant Info']['Address Line 1'].value">
                                        	<dt>Address Line 1:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Applicant Info']['Address Line 1'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Applicant Info']['Address Line 2'].value">
                                        	<dt>Address Line 2:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Applicant Info']['Address Line 2'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Applicant Info']['Address Line 3'].value">
                                        	<dt>Address Line 3:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Applicant Info']['Address Line 3'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Applicant Info']['Country'].value">
                                        	<dt>Country:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Applicant Info']['Country'].value"></dd>
                                        </dl>
                                    </div>
                                    <!--/ .block -->
                                	<div class="block">
                                    	<h3>2. Credit Info</h3>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Currency'].value">
                                        	<dt>Currency:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Currency'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Amount'].value">
                                        	<dt>Amount:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Amount'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Confirm Amount'].value">
                                        	<dt>Confirm Amount:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Confirm Amount'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Amount In Word'].value">
                                        	<dt>Amount(in words):</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Amount In Word'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Amount Tolerance'].selectSelected.text !== 'Please Select'">
                                        	<dt>Amount Tolerance:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Amount Tolerance'].selectSelected.text"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Advising Bank Name'].value">
                                        	<dt>Advising Bank Name:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Advising Bank Name'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Swift Address'].value">
                                        	<dt>Swift Address:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Swift Address'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Address Line 1'].value">
                                        	<dt>Address Line 1:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Address Line 1'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Address Line 2'].value">
                                        	<dt>Address Line 2:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Address Line 2'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Address Line 3'].value">
                                        	<dt>Address Line 3:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Address Line 3'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Credit Info']['Country'].value">
                                        	<dt>Country:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Credit Info']['Country'].value"></dd>
                                        </dl>
                                    </div>
                                    <!--/ .block -->
                                    <div class="block">
                                    	<h3>3. Submission Details</h3>
                                        <dl data-ng-if="dataSet['Credit Form']['Submission Details']['Date of Submission'].value">
                                        	<dt>Date of Submission:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Submission Details']['Date of Submission'].value | date:'dd.MM.yyyy'"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Submission Details']['Method of Submission'].selectSelected.text !== 'Please Select'">
                                        	<dt>Method of Submission:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Submission Details']['Method of Submission'].selectSelected.text"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Submission Details']['Applicant Reference'].value">
                                        	<dt>Applicant Reference:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Submission Details']['Applicant Reference'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Submission Details']['Telephone'].value">
                                        	<dt>Telephone:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Submission Details']['Telephone'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Submission Details']['Fax'].value">
                                        	<dt>Fax:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Submission Details']['Fax'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Submission Details']['Contact Name'].value">
                                        	<dt>Contact Name:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Submission Details']['Contact Name'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Submission Details']['Email Address'].value">
                                        	<dt>Email Address:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Submission Details']['Email Address'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Unconfirmed'].name && dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Transferable'].name">
                                        	<dt>Type of Irrevocable Letter of Credit:</dt>
                                            <dd>
                                            	<span data-ng-bind-html="dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Unconfirmed'].name"></span>
                                                <span data-ng-bind-html="dataSet['Credit Form']['Submission Details']['Type of Irrevocable Letter of Credit']['Transferable'].name"></span>
                                            </dd>
                                        </dl>
                                    </div>
                                    <!--/ .block -->
                                </div>
                                <div class="col-md-6">
                                	<div class="block">
                                    	<h3>4. Beneficiary Info</h3>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Beneficiary Name'].value">
                                        	<dt>Beneficiary Name:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Beneficiary Name'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Amount'].value">
                                        	<dt>Amount:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Amount'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Address Line 1'].value">
                                        	<dt>Address Line 1:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Address Line 1'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Address Line 2'].value">
                                        	<dt>Address Line 2:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Address Line 2'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Address Line 3'].value">
                                        	<dt>Address Line 3:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Address Line 3'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Country'].value">
                                        	<dt>Country:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Country'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Contact Name'].value">
                                        	<dt>Contact Name:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Contact Name'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Account Number'].value">
                                        	<dt>Account Number:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Account Number'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Telephone'].value">
                                        	<dt>Telephone:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Telephone'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Beneficiary Info']['Fax'].value">
                                        	<dt>Fax:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Beneficiary Info']['Fax'].value"></dd>
                                        </dl>
                                    </div>
                                    <!--/ .block -->
                                    <div class="block">
                                    	<h3>5. Shipment Details</h3>
                                        <dl data-ng-if="dataSet['Credit Form']['Shipment Details']['Latest Shipment Date'].value">
                                        	<dt>Latest Shipment Date:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Shipment Details']['Latest Shipment Date'].value | date:'dd.MM.yyyy'"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Shipment Details']['Expiry Date'].value">
                                        	<dt>Expiry Date:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Shipment Details']['Expiry Date'].value | date:'dd.MM.yyyy'"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Shipment Details']['Part-shipment'].selectSelected.text !== 'Please Select'">
                                        	<dt>Part-shipment:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Shipment Details']['Part-shipment'].selectSelected.text"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Shipment Details']['Payment Terms'].selectSelected.text !== 'Please Select'">
                                        	<dt>Payment Terms:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Shipment Details']['Payment Terms'].selectSelected.text"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Shipment Details']['Invoice Value'].value">
                                        	<dt>% of Invoice Value:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Shipment Details']['Invoice Value'].value + '%'"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Shipment Details']['Place of Expiry'].value">
                                        	<dt>Place of Expiry:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Shipment Details']['Place of Expiry'].value"></dd>
                                        </dl>
                                        <dl data-ng-if="dataSet['Credit Form']['Shipment Details']['Transhipment'].selectSelected.text !== 'Please Select'">
                                        	<dt>Transhipment:</dt>
                                            <dd data-ng-bind-html="dataSet['Credit Form']['Shipment Details']['Transhipment'].selectSelected.text"></dd>
                                        </dl>
										<p class="list" data-ng-if="dataSet['Credit Form']['Shipment Details']['Days'].value">Documents to be presented within <span data-ng-bind-html="dataSet['Credit Form']['Shipment Details']['Days'].value"></span> days of shipment but within the validity of credit.</p>
                                    </div>
                                    <!--/ .block -->
                                </div>
                            </div>
                        </div>
                        <!--/ .container -->
                    	<div class="button-group clearfix">
                        	<a href="javascript:;" class="btn btn-primary btn-back pull-left" data-ng-click="back();"><span class="icon icon-back">Back</span></a>
                            <a href="javascript:;" class="btn btn-primary btn-submit-approval pull-right" data-ng-click="created(dataSet['Credit Form']);"><span class="icon icon-next">Submit for Approval</span></a>
                            <a href="javascript:;" class="btn btn-default btn-save-later">Save for Later</a>
                            <a href="#/Dashboard" class="btn btn-default btn-cancel">Cancel</a>
                        </div>
                        <!--/ .btn-group -->
                    </div>
                    <!--/ .nav-content -->
                </div>
                <!--/ .wells -->
            </div>
        </div>
        <!--/ .row -->
    </div>
</div>
<!--/ .main-container -->
<footer data-common-footer></footer>
<!--/ Footer -->
