﻿<!DOCTYPE html>
<html lang="en" data-ng-app="dinnaco" data-flow-init>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="description" content="" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<title>Dinnaco</title>
	<!-- CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/angular-bootstrap-calendar.css" rel="stylesheet">
	<link href="css/screen.css" rel="stylesheet">

	<!-- To be deleted after development finishes -->
	<script src="http://localhost:35729/livereload.js"></script>
</head>

<body data-ng-controller="mainController">

	<div data-ng-view data-autoscroll="true"></div>
	<!--/ Page -->
	<div class="modal-bg" data-ng-if="modal.show" data-ng-click="modal.show = false;" data-ng-class="{'max': modal.dialog === 'Current Assets' || modal.dialog === 'Tasks' || modal.dialog === 'Recommended Actions' || modal.dialog === 'Latest News'}">
		<div class="modal">
			<div class="vertical-align-center">
				<div class="modal-dialog modal-comfirm-removal" data-modal-comfirm-removal data-ng-if="modal.dialog === 'Comfirm Removal'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-credit-created" data-modal-credit-created data-ng-if="modal.dialog === 'Credit Created'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-current-assets" data-modal-current-assets data-ng-if="modal.dialog === 'Current Assets'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog panel-summary-account-information modal-summary-account-information" data-modal-summary-account-information data-ng-if="modal.dialog === 'Summary Account Information'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-assets-liabilities" data-modal-assets-liabilities data-ng-if="modal.dialog === 'Assets & Liabilities'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-recommended-actions" data-modal-recommended-actions data-ng-if="modal.dialog === 'Recommended Actions'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-tasks" data-modal-tasks data-ng-if="modal.dialog === 'Tasks'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-calendar" data-modal-calendar data-ng-if="modal.dialog === 'Canlendar'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-rates" data-modal-rates data-ng-if="modal.dialog === 'Rates'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-latest-news" data-modal-latest-news data-ng-if="modal.dialog === 'Latest News'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-outstanding-payables" data-modal-outstanding-payables data-ng-if="modal.dialog === 'Outstanding Payables'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-trade-investment" data-modal-trade-investment data-ng-if="modal.dialog === 'Trade Investment'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-import-letter-credit" data-modal-import-letter-credit data-ng-if="modal.dialog === 'Import Letter of Credit'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
				<div class="modal-dialog modal-trade-tasks" data-modal-trade-tasks data-ng-if="modal.dialog === 'Trade Tasks'" data-stop-event="click"></div>
				<!--/ .modal-dialog -->
			</div>
		</div>
		<!--/ .modal -->
	</div>


	<script src="lib/moment.min.js"></script>
	<script src="lib/jquery-2.1.4.js"></script>
	<script src="lib/angular.js"></script>
	<script src="lib/angular-sanitize.js"></script>
	<script src="lib/angular-route.js"></script>
	<script src="lib/angular-dropdowns.js"></script>
	<script src="lib/ui-bootstrap-tpls-1.2.4.js"></script>
	<script src="lib/angular-messages.js"></script>
	<script src="lib/ng-flow.js"></script>
	<script src="lib/ng-flow-standalone.js"></script>
	<script src="lib/angular-animate.js"></script>
	<script src="lib/angular-bootstrap-calendar-tpls.js"></script>
	<script src="lib/angular-backtop.js"></script>
	<script src="lib/format-as-currency.js"></script>
	<script src="lib/ngStorage.js"></script>
	<script src="js/app.config.js"></script>
	<script src="lib/lodash.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/newLetterOfCreditCreatedController.js"></script>
	<script src="js/controllers/calendarController.js"></script>
	<script src="js/controllers/currentAssetsController.js"></script>
	<script src="js/controllers/dashboardController.js"></script>
	<script src="js/controllers/latestNewsController.js"></script>
	<script src="js/controllers/lettersOfCreditController.js"></script>
	<script src="js/controllers/loginController.js"></script>
	<script src="js/controllers/mainController.js"></script>
	<script src="js/controllers/newLetterOfCreditController.js"></script>
	<script src="js/controllers/recommendedActionsController.js"></script>
	<script src="js/controllers/summaryAccountInfomrationController.js"></script>
	<script src="js/controllers/tasksController.js"></script>
	<script src="js/controllers/tradeController.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/services/commonService.js"></script>
	<script src="js/services/accountsService.js"></script>
	<script src="js/services/clientsService.js"></script>
	<script src="js/services/documentsService.js"></script>
	<script src="js/services/tasksService.js"></script>
	<script src="js/models/models.js"></script>
	<script src="js/filter.js"></script>
</body>

</html>
