<a href="#/Dashboard" class="logo-footer">ABC</a>
<p>Copyright © 2016 ABC, LLC. All rights reserved. By using this site, you agree to the <a href="javascript:;">Terms of Service</a> and <a href="javascript:;">Privacy Policy</a>.</p>
<a href="javascript:;" class="icon icon-back-top" data-back-top data-scroll-speed="2000">Back to Top</a>
<div class="green"></div>