<div class="header-banner">
	<a href="#/Dashboard" class="logo-header">ABC</a>
    <div class="meta">
    	<a href="javascript:;" class="icon icon-alerts" data-ng-click="notification = !notification" data-click-off="notification = false;"><span class="badge">2</span></a>
        <a href="javascript:;" class="icon icon-chat">Chat</a>
        <a href="javascript:;" class="icon icon-personalise">Personalise</a>
        <a href="" data-ng-click="logout();" class="icon icon-logout">Logout</a>
    </div>
    <!--/ .meta -->
</div>
<!--/ .header-banner -->
<ul class="notification" data-ng-if="notification">
	<li class="clearfix">
    	<p class="icon icon-notification">Your credit line has reached the limit you settled.</p>
        <a href="javascript:;" class="btn btn-primary">Solve</a>
    </li>
    <li class="clearfix">
    	<p class="icon icon-email">You have a new email from <a href="javascript:;">John Doe</a>.</p>
        <a href="javascript:;" class="btn btn-primary">View</a>
    </li>
</ul>
<nav>
	<ul class="clearfix">
    	<li><a href="#/Dashboard" data-ng-class="{'active': navigation.label === 'Home'}">Home</a></li>
        <li><a href="javascript:;">Accounts</a></li>
        <li data-ng-mouseenter="SecondaryMenu = true;" data-ng-mouseleave="SecondaryMenu = false;">
        	<a href="#/Trade" data-ng-class="{'active': navigation.label === 'Trade'}">Trade</a>
            <ul data-ng-if="SecondaryMenu">
            	<li><a href="#/Letters_Of_Credit" class="icon icon-import-credit">Import Letter of Credit</a></li>
                <li><a href="javascript:;" class="icon icon-export-credit">Export Letter of Credit</a></li>
                <li><a href="javascript:;" class="icon icon-guarantees">Guarantees</a></li>
                <li><a href="javascript:;" class="icon icon-import-collection">Import Collection</a></li>
                <li><a href="javascript:;" class="icon icon-direct-collection">Direct Collection</a></li>
                <li><a href="javascript:;" class="icon icon-export-collection">Export Collection</a></li>
                <li><a href="javascript:;" class="icon icon-invoice-financing">Invoice Financing</a></li>
                <li><a href="javascript:;" class="icon icon-supply-financing">Supply Chain Financing</a></li>
                <li><a href="javascript:;" class="icon icon-shipment-financing">Pre-shipment Financing</a></li>
            </ul>
        </li>
        <li><a href="javascript:;">Commercial Finance</a></li>
        <li><a href="javascript:;">Payments</a></li>
        <li><a href="javascript:;">Cash Management</a></li>
        <li><a href="javascript:;">Funds Transfer</a></li>
        <li><a href="javascript:;">Reports &amp; Analytics</a></li>
        <li><a href="javascript:;">Secure Email</a></li>
    </ul>
</nav>
<!--/ Nav -->
