<div class="modal-header">
	<h2 class="icon icon-success">Current Assets &amp; Liabilities</h2>
</div>
<!--/ .modal-header -->
<div class="modal-content">
	<ul class="list-group">
    	<li class="list-group-item" data-ng-repeat="node in dataSet" data-ng-class="{'on': node.accorion}">
        	<a href="javascript:;" class="icon icon-accrodion" data-ng-style="{'background-color': node.color}" data-ng-click="triggerAccrodion(node);">{{node.name}}:  <strong>{{node.amount}}</strong></a>
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="secondaryNode in node.group" data-ng-class="{'on': secondaryNode.accorion}">
                	<a href="javascript:;" class="icon icon-accrodion" data-ng-click="triggerSecondaryAccrodion(secondaryNode);"> {{secondaryNode.name}}</a>
									<span data-ng-style="{'color': node.color}">{{secondaryNode.count}}</span>
                  <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="thirdNode in secondaryNode.accounts">
											<img class="bankImage-logo" ng-src="./i/{{thirdNode.bankImage}}.png" alt="logo bank" />
											<a href="javascript:;">Account: {{thirdNode.name}}</a>
											<span>{{thirdNode.amount}}</span>
										</li>
                  </ul>
                </li>
                <!--/ .list-group-item -->
            </ul>
        </li>
        <!--/ .list-group-item -->
    </ul>
</div>
<!--/ .modal-content -->
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-primary" data-ng-click="closeModal();">OKAY</a>
</div>
<!--/ .modal-footer -->
