<div class="modal-header">
	<h2 class="icon icon-success">New Letter of Credit Created</h2>
</div>
<!--/ .modal-header -->
<div class="modal-content" ng-controller="newLetterOfCreditCreatedController">
	<i>This is the summary of your transaction.</i>
    <i>Please take a look to be sure everything is okay.</i>
	<ul class="col-md-8 col-md-push-2" style="list-style: none; font-size: 17px; margin-top: 55px">
		<li><b class="col-md-6">ID:</b><span class="col-md-5">{{credit.documentId}}</span></li>
		<li><b class="col-md-6">Source Account:</b><span class="col-md-5">{{credit.applicantReference}}</span></li>
		<li><b class="col-md-6">Type:</b><span class="col-md-5">Letter of Credit</span></li>
		<li><b class="col-md-6">Status: </b><span class="col-md-5">Draft</span></li>
		<li><b class="col-md-6">Counterparty:</b><span class="col-md-5">{{credit.beneficiaryName}}</span></li>
		<li><b class="col-md-6">Currency:</b><span class="col-md-5">{{credit.creditCurrency}}</span></li>
		<li><b class="col-md-6">Amount:</b><span class="col-md-5">{{credit.creditAmount}}</span></li>
	</ul>
</div>
<!--/ .modal-content -->
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-primary btn-large" data-ng-click="closeModal();">Return to Trade Summary</a>
</div>
<!--/ .modal-footer -->
