<div class="modal-header">
	<h2>Trade Tasks</h2>
</div>
<!--/ .modal-header -->
<div class="modal-content">
	<div class="panel panel-tasks">
        <div class="panel-body">
            <table class="table table-trade-tasks">
                <thead>
                    <tr>
                        <th>
                            <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'id' && order.reverse, 'icon-asc': order.type === 'id' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[0]" data-ng-click="order.type = 'id'; order.reverse = !order.reverse"></a>
                        </th>
                        <th>
                            <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'account' && order.reverse, 'icon-asc': order.type === 'account' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[1]" data-ng-click="order.type = 'account'; order.reverse = !order.reverse"></a>
                        </th>
                        <th>
                            <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'type' && order.reverse, 'icon-asc': order.type === 'type' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[3]" data-ng-click="order.type = 'type'; order.reverse = !order.reverse"></a>
                        </th>
                        <th>
                            <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'status' && order.reverse, 'icon-asc': order.type === 'status' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[5]" data-ng-click="order.type = 'status'; order.reverse = !order.reverse"></a>
                        </th>
                        <th>
                            <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'counterparty' && order.reverse, 'icon-asc': order.type === 'counterparty' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[6]" data-ng-click="order.type = 'counterparty'; order.reverse = !order.reverse"></a>
                        </th>
                        <th>
                            <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'currency' && order.reverse, 'icon-asc': order.type === 'currency' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[7]" data-ng-click="order.type = 'currency'; order.reverse = !order.reverse"></a>
                        </th>
                        <th>
                            <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'amount' && order.reverse, 'icon-asc': order.type === 'amount' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[8]" data-ng-click="order.type = 'amount'; order.reverse = !order.reverse"></a>
                        </th>
                        <th>
                            <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'transactions' && order.reverse, 'icon-asc': order.type === 'transactions' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[9]" data-ng-click="order.type = 'transactions'; order.reverse = !order.reverse"></a>
                        </th>
                        <th>
                            <a href="javascript:;" class="icon" data-ng-class="{'icon-desc': order.type === 'letter' && order.reverse, 'icon-asc': order.type === 'letter' && !order.reverse}" data-ng-bind-html="dataSet['Tasks'].heading[10]" data-ng-click="order.type = 'letter'; order.reverse = !order.reverse"></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in dataSet['Tasks'].matrix.slice(((currentPage-1)*dataSet['Tasks'].selectSelected.text), ((currentPage)*dataSet['Tasks'].selectSelected.text)) | orderBy: order.type : order.reverse">
                        <td data-ng-bind-html="row.id"></td>
                        <td>
                            <a href="javascript:;" data-ng-bind-html="row.account"></a>
                        </td>
                        <td data-ng-bind-html="row.type"></td>
                        <td>
                            <span class="badge" data-ng-class="row.status | lowercase" data-ng-bind-html="row.status | uppercase"></span>
                        </td>
                        <td data-ng-bind-html="row.counterparty"></td>
                        <td data-ng-bind-html="row.currency"></td>
                        <td data-ng-bind-html="row.amount"></td>
                        <td>
                            <a href="javascript:;" data-ng-bind-html="row.transactions"></a>
                        </td>
                        <td>
                            <a href="javascript:;" class="icon" data-ng-class="'icon-'+row.letter"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagiations clearfix">
                <div class="pre-page">
                    <span>Display</span>
                    <div class="form-control custom-dropdown" data-dropdown-select="dataSet['Tasks'].selectOptions" data-dropdown-model="dataSet['Tasks'].selectSelected" data-dropdown-item-label="text" data-dropdown-onchange="changePagination();"></div>
                    <span>/ page</span>
                </div>
                <!--/ .pre-page -->
                <div class="widget-pagination">
                    <span class="pull-left">Page</span>
                    <div data-uib-pagination data-total-items="dataSet['Tasks'].matrix.length" data-items-per-page="dataSet['Tasks'].selectSelected.text" data-ng-model="currentPage" data-max-size="2" class="pagination-sm" data-boundary-link-numbers="true" data-rotate="false"></div>
                </div>
            </div>
            <!--/ .pagination -->
        </div>
        <!--/ .panel-body -->
    </div>
</div>
<!--/ .modal-content -->
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" data-ng-click="closeModal();">OKAY</a>
</div>
<!--/ .modal-footer -->