<div class="modal-header">
	<h2>Rates</h2>
</div>
<!--/ .modal-header -->
<div class="modal-content">
	<div class="panel panel-rates">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Currency</th>
                        <th>GBP</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>US Dollar</td>
                        <td><span>1.38</span></td>
                        <td><img src="./i/flag-us.png" alt="US" /></td>
                    </tr>
                    <tr>
                        <td>Euro</td>
                        <td><span>1.26</span></td>
                        <td><img src="./i/flag-eu.png" alt="EU" /></td>
                    </tr>
                    <tr>
                        <td>India Rupee</td>
                        <td><span>95.36</span></td>
                        <td><img src="./i/flag-in.png" alt="IN" /></td>
                    </tr>
                    <tr>
                        <td>Japanese Yen</td>
                        <td><span>158.03</span></td>
                        <td><img src="./i/flag-jp.png" alt="JP" /></td>
                    </tr>
                    <tr>
                        <td>Chinese Yuan</td>
                        <td><span>9.07</span></td>
                        <td><img src="./i/flag-ch.png" alt="CH" /></td>
                    </tr>
                    <tr>
                        <td>Canadian Dollar</td>
                        <td><span>1.87</span></td>
                        <td><img src="./i/flag-cnd.png" alt="CND" /></td>
                    </tr>
                </tbody>
            </table>
            <!--/ .table -->
        </div>
        <!--/ .panel-body -->
    </div>
</div>
<!--/ .modal-content -->
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" data-ng-click="closeModal();">OKAY</a>
</div>
<!--/ .modal-footer -->