<div class="modal-header">
	<h2>Calendar Events</h2>
</div>
<!--/ .modal-header -->
<div class="modal-content">
	<div class="panel panel-calendar" data-ng-controller="calendarCtrl as vm">
        <div class="panel-heading">
            <h3>
                <a href="javascript:;" class="icon icon-previous" data-mwl-date-modifier data-date="vm.viewDate" data-decrement="vm.calendarView"></a>
                {{vm.calendarTitle}}
                <a href="javascript:;" class="icon icon-next" data-mwl-date-modifier data-date="vm.viewDate" data-increment="vm.calendarView"></a>
            </h3>
        </div>
        <!--/ .panel-header -->
        <div class="panel-body">
            <div
                data-mwl-calendar
                data-events="vm.events"
                data-view="vm.calendarView"
                data-view-title="vm.calendarTitle"
                data-view-date="vm.viewDate"
                data-day-view-split="30"
                data-on-timespan-click="vm.timespanClicked(calendarDate)"
                data-cell-modifier="vm.modifyCell(calendarCell)">
            </div>
            <div class="widget widget-event">
                <div class="widget-heading clearfix">
                    <div class="pull-right">{{vm.lastDateClicked | date: "d MMM"}}</div>
                    <div>Events <span data-ng-if="isToday(vm.lastDateClicked)">Today</span></div>
                </div>
                <div class="widget-body">
                    <div class="media" data-ng-repeat="event in vm.events | range: vm.lastDateClicked | orderBy:'startsAt'">
                        <div class="media-left">
                            <img src="./i/thumb-01.jpg" class="img-circle" data-ng-src="{{event.thumb}}" alt="Thumb" />
                        </div>
                        <div class="media-body">
                            <span class="icon icon-location pull-right" data-ng-bind="event.location"></span>
                            <span class="icon icon-time" data-ng-bind="event.startsAt | time"></span>
                            <p data-ng-bind-html="event.description"></p>
                        </div>
                    </div>
                    <!--/ .media -->
                    <p data-ng-if="!(vm.events | range: vm.lastDateClicked).length">There is no event on this day.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ .modal-content -->
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" data-ng-click="closeModal();">OKAY</a>
</div>
<!--/ .modal-footer -->