<div class="modal-header">
	<h2>Latest News</h2>
</div>
<!--/ .modal-header -->
<div class="modal-content">
	<div class="panel panel-latest-news">
        <div class="panel-body">
            <img class="banner" src="./i/banner-latest-news.jpg" data-ng-src="{{dataSet['Latest News'].banner}}" alt="Banner" />
            <div class="media" data-ng-repeat="item in dataSet['Latest News'].news | limitTo: 8">
                <div class="media-left">
                    <div class="date" data-ng-bind-html="item.date"></div>
                </div>
                <div class="media-body">
                    <a href="javascript:;" data-ng-bind-html="item.title"></a>
                    <p data-ng-bind-html="item.article"></p>
                </div>
            </div>
            <!--/ .media -->
        </div>
        <!--/ .panel-body -->
    </div>
</div>
<!--/ .modal-content -->
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" data-ng-click="closeModal();">OKAY</a>
</div>
<!--/ .modal-footer -->