<div class="modal-header">
	<h2>Comfirm Removal</h2>
</div>
<!--/ .modal-header -->
<div class="modal-content">
	<p>Are you sure you want to remove <strong>Cash Account {{modal.data.name}}</strong> from your sources?</p>
    <span>Note: you can select another account after this</span>
</div>
<!--/ .modal-content -->
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" data-ng-click="removeAccount(modal.data);">YES</a>
    <a href="javascript:;" class="btn btn-primary" data-ng-click="closeModal();">NO</a>
</div>
<!--/ .modal-footer -->