<div class="modal-header">
	<h2>Outstanding Payables By Age</h2>
</div>
<!--/ .modal-header -->
<div class="modal-content">
	<div class="panel">
        <div class="panel-body">
            <img class="placeholder" src="./i/placeholder-outstanding-payables.png" alt="Placeholder" />
        </div>
        <!--/ .panel-body -->
    </div>
</div>
<!--/ .modal-content -->
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" data-ng-click="closeModal();">OKAY</a>
</div>
<!--/ .modal-footer -->