<div class="modal-header">
	<h2>Recommended Actions</h2>
</div>
<!--/ .modal-header -->
<div class="modal-content">
	<div class="panel panel-recommended-actions">
		<div class="panel-body">
			<div class="block">

				<ul class="col-lg-12 recommend-list" data-ng-repeat="item in dataSet['Recommended Actions']">
					<li class="col-lg-1 recommend-item">
						<img src="../i/logo-header-common.png" alt="logo abc bank" />
					</li>
					<li class="col-lg-6 recommend-item">
						<p>
							{{item.recommendation}}
						</p>
					</li>
					<li class="col-lg-4 recommend-item recommend-buttons">
						<a href="{{item.linkBtns.more}}" class="btn btn-primary">{{item.textBtns.more}}</a>
						<a href="{{item.linkBtns.revisit}}" class="btn btn-default">{{item.textBtns.revisit}}</a>
						<a href="{{item.linkBtns.ignore}}" class="btn btn-default">{{item.textBtns.ignore}}</a>
					</li>
					<li class="col-lg-1 recommend-item">
						<img ng-src="{{item.imageUrl}}" alt="logo" />
					</li>
				</ul>
			</div>
		</div>
        <!--/ .panel-body -->
    </div>
    <!--/ .panel -->
</div>
<!--/ .modal-content -->
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" data-ng-click="closeModal();">OKAY</a>
</div>
<!--/ .modal-footer -->
