<div class="panel-body col-md-12">
  <div class="panel-heading">
    <h3>Summary Account Information</h3>
    <a href="javascript:;" class="icon icon-expand" data-trigger-modal data-temple="modal_summary_account_information"></a>
  </div>

  <uib-tabset justified="true" active="active" class="navbar-top">
    <!-- By product section  -->
    <uib-tab  index="0" classes="primary-nav" heading="View by Product">
      <uib-tabset justified="true" class="navbar-middle">
        <!-- Products All tab  -->
        <uib-tab index="0"  classes="secondary-nav all-color" heading="All Products">
          <ul class="col-md-6 summary-products-list">
            <li>
              <h4 class="assets-color">{{dataSet['Summary Account Information']['DEPOSIT'].title}}</h4>
            </li>
            <li ng-repeat="item in dataSet['Summary Account Information']['DEPOSIT'].accounts">
              <span class="col-md-9">{{item.name}}</span>
              <b class="col-md-3 totalCountBold">{{item.count}}</b>
            </li>
          </ul>
          <ul class="col-md-6 summary-products-list products-list-all-liability">
            <li>
              <h4 class="liability-color">{{dataSet['Summary Account Information']['LOAN'].title}}</h4>
            </li>
            <li ng-repeat="item in dataSet['Summary Account Information']['LOAN'].accounts">
              <span class="col-md-9">{{item.name}}</span>
              <b class="col-md-3 totalCountBold">{{item.count}}</b>
            </li>
          </ul>
          <!-- Total values accounts -->
          <ul class="col-md-6 totalCountContainer">
            <li>
              <span class="col-md-9">Total value assets:</span>
              <b class="col-md-3 totalCountBold">{{dataSet['Summary Account Information']['DEPOSIT'].totalCount}}</b>
            </li>
          </ul>
          <ul class="col-md-6 totalCountContainer">
            <li>
              <span class="col-md-9">Total value liabilities:</span>
              <b class="col-md-3 totalCountBold">{{dataSet['Summary Account Information']['LOAN'].totalCount}}</b>
            </li>
          </ul>
        </uib-tab>
        <!-- Products assets tab  -->
        <uib-tab index="1" classes="secondary-nav assets-color" heading="Assets">
          <ul class="col-md-12 summary-products-list">
            <li>
              <h4 class="summary-list-heading assets-color">{{dataSet['Summary Account Information']['DEPOSIT'].title}}</h4>
            </li>
            <li class="col-md-1 col-md-push-1 summary-prods-list-assets-img">
              <img src="../i/c2.png" alt="" />
            </li>
            <li class="col-md-8 col-md-offset-2" ng-repeat="item in dataSet['Summary Account Information']['DEPOSIT'].accounts">
              <span class="col-md-9">{{item.name}}</span>
              <b class="col-md-3 totalCountBold">{{item.count}}</b>
            </li>
            <li class="col-md-8 col-md-offset-2 totalCountSingleton-assets">
              <span class="col-md-9">Total value assets:</span>
              <b class="col-md-3 totalCountBold">{{dataSet['Summary Account Information']['DEPOSIT'].totalCount}}</b>
            </li>
          </ul>
        </uib-tab>
        <!-- Products Liabilities tab  -->
        <uib-tab index="2" classes="secondary-nav liability-color" heading="Liabilities">
          <ul class="col-md-12 summary-products-list products-list-liability">
            <li>
              <h4 class="summary-list-heading liability-color">{{dataSet['Summary Account Information']['LOAN'].title}}</h4>
            </li>
            <li class="col-md-1 col-md-push-1 summary-prods-list-liability-img">
              <img src="../i/c1.png" alt="" />
            </li>
            <li class="col-md-8 col-md-offset-2" ng-repeat="item in dataSet['Summary Account Information']['LOAN'].accounts">
              <span class="col-md-9">{{item.name}}</span>
              <b class="col-md-3 totalCountBold">{{item.count}}</b>
            </li>
            <li class="col-md-8 col-md-offset-2 totalCountSingleton-liability">
              <span class="col-md-9">Total value liabilities:</span>
              <b class="col-md-3 totalCountBold">{{dataSet['Summary Account Information']['LOAN'].totalCount}}</b>
            </li>
          </ul>
        </uib-tab>
      </uib-tabset>
    </uib-tab>
    <!-- By Banks Section  -->
    <uib-tab index="1" classes="primary-nav" heading="View by Bank">
      <uib-tabset justified="true" class="navbar-middle">
        <!-- Banks All tab  -->
        <uib-tab index="0"  classes="secondary-nav all-color" heading="All Banks">
          <ul class="col-md-6 summary-banks-list">
            <li class="col-md-4 col-md-push-1">
              <h4 class="assets-color">{{dataSet['Summary Account Information']['DEPOSIT'].title}}</h4>
            </li>
            <li class="col-md-11 col-md-push-1 summary-banks-item" ng-repeat="item in dataSet['Summary Account Information']['DEPOSIT'].banks">
              <span class="col-md-2">
                <img style="width: 40px" ng-src="../i/{{item.bankImage}}.png" alt="logo {{item.bankName}}" />
              </span>
              <span class="col-md-5">{{item.bankName}}</span>
              <b class="col-md-4 totalCountBold">{{item.count}}</b>
            </li>
          </ul>
          <ul class="col-md-6 summary-banks-list summary-banks-list-liability">
            <li class="col-md-4 col-md-push-1">
              <h4 class="liability-color">{{dataSet['Summary Account Information']['LOAN'].title}}</h4>
            </li>
            <li class="col-md-11 col-md-push-1 summary-banks-item" ng-repeat="item in dataSet['Summary Account Information']['LOAN'].banks">
              <span class="col-md-2">
                <img style="width: 40px" ng-src="../i/{{item.bankImage}}.png" alt="logo {{item.bankName}}" />
              </span>
              <span class="col-md-5">{{item.bankName}}</span>
              <b class="col-md-4 totalCountBold">{{item.count}}</b>
            </li>
          </ul>
          <!-- Total values accounts -->
          <ul class="col-md-6 totalCountContainer">
            <li>
              <span class="col-md-8">Total value assets:</span>
              <b class="col-md-3 totalCountBold">{{dataSet['Summary Account Information']['DEPOSIT'].totalCount}}</b>
            </li>
          </ul>
          <ul class="col-md-6 totalCountContainer">
            <li>
              <span class="col-md-8">Total value liabilities:</span>
              <b class="col-md-3 totalCountBold">{{dataSet['Summary Account Information']['LOAN'].totalCount}}</b>
            </li>
          </ul>
        </uib-tab>
        <!-- Banks assets tab  -->
        <uib-tab index="1" classes="secondary-nav assets-color" heading="Assets">
          <ul class="col-md-12 summary-banks-list">
            <li>
              <h4 class="summary-list-heading assets-color">{{dataSet['Summary Account Information']['DEPOSIT'].title}}</h4>
            </li>
            <li class="col-md-1 col-md-push-1 summary-prods-list-assets-img">
              <img src="../i/c2.png" alt="" />
            </li>
            <li class="col-md-8 col-md-push-2 summary-banks-item" ng-repeat="item in dataSet['Summary Account Information']['DEPOSIT'].banks">
              <span class="col-md-2">
                <img style="width: 40px" ng-src="../i/{{item.bankImage}}.png" alt="logo {{item.bankName}}" />
              </span>
              <span class="col-md-5">{{item.bankName}}</span>
              <b class="col-md-4 totalCountBold">{{item.count}}</b>
            </li>
            <li class="col-md-8 col-md-offset-2 totalCountSingleton-assets">
              <span class="col-md-7">Total value assets:</span>
              <b class="col-md-3 totalCountBold">{{dataSet['Summary Account Information']['DEPOSIT'].totalCount}}</b>
            </li>
          </ul>
        </uib-tab>

        <!-- Banks Liabilities tabs  -->
        <uib-tab index="2" classes="secondary-nav liability-color" heading="Liabilities">
          <ul  class="col-md-12 summary-banks-list">
            <li>
              <h4 class="summary-list-heading liability-color">{{dataSet['Summary Account Information']['LOAN'].title}}</h4>
            </li>
            <li class="col-md-1 col-md-push-1 summary-prods-list-liability-img">
              <img src="../i/c1.png" alt="" />
            </li>
            <li class="col-md-8 col-md-push-2 summary-banks-item" ng-repeat="item in dataSet['Summary Account Information']['LOAN'].banks">
              <span class="col-md-2">
                <img style="width: 40px" ng-src="../i/{{item.bankImage}}.png" alt="logo {{item.bankName}}" />
              </span>
              <span class="col-md-5">{{item.bankName}}</span>
              <b class="col-md-4 totalCountBold">{{item.count}}</b>
            </li>
            <li class="col-md-8 col-md-offset-2 totalCountSingleton-assets">
              <span class="col-md-7">Total value liabilities:</span>
              <b class="col-md-3 totalCountBold">{{dataSet['Summary Account Information']['LOAN'].totalCount}}</b>
            </li>
          </ul>
        </div>
        <!-- end col-md-12  -->
      </uib-tab>
    </uib-tabset>
  </uib-tab>
</uib-tabset>
</div>
